/* ============================== BEGIN STYLES ============================== */

/* GREEN */

/* colors:
primary: #295890
primary dark: #0a4475
primary light: #4378a3

secondary: #585858
secondary dark: #393939

images:
banner: none
*/

a {
	color: #4378a3; /* #295890 */
}
h1 {
	color: #585858;
}
h2 {
	color: #4378a3; /* #295890 */
}
h3 {
	color: #4378a3; /* #295890 */
}

	/* ====== BEGIN MAIN COLUMN ===== */
	.mainColumnStyle ul li {
		list-style-image:url('../images/check-orange.png');
	}
	/* ====== END MAIN COLUMN ===== */

	/* ====== BEGIN SIDEBAR ======= */
	/* ====== END SIDEBAR ======= */

/* ============================== ENDSTYLES ============================== */

/* ====== BEGIN GENERAL LAYOUT ======= */
	body {scroll;
	}
/* ====== END GENERAL LAYOUT ======= */

/* ============================== BEGIN NAVIGATION ============================== */

	/* ====== BEGIN MAIN NAVIGATION ======= */
	#navigationWrapper {
		background-color: #4378a3; /* #295890 */
		border-top: 1px solid #6D97BB;
		border-bottom: 1px solid #2C5980;
	}
	#navWrap {
		border-left: 1px solid #0a4475;
	}
	.navigationStyle .menu>li {
		border-right: 1px solid #2C5980;
		border-left: 1px solid #709ABD;
	}
	.navigationStyle .menu>li.current-menu-item, .navigationStyle .menu>li.current-menu-parent {
		border-left: 1px solid #264A69;
		background: #2C5980;
	}
	.navigationStyle ul.sub-menu li.current-menu-item {
		background: #444;
	}
		
		/* ====== MAIN NAVIGATION DROPDOWN MENUS ======= */
		.navigationStyle .sub-menu {
			background: #393939;
		}
		.navigationStyle .sub-menu li:hover {
			background: #585858;
		}
						
		/* ====== END MAIN NAVIGATION DROPDOWNS ======= */
		
		
	#breadcrumbsWrapper {
		background: #393939;
	}
			
		/* ====== END MAIN NAVIGATION THIRD LEVEL ======= */
	
	/* ====== END MAIN NAVIGATION ======= */
	
	/* ====== BEGIN TOP NAVIGATION ======= */
	
				
		/* ====== TOP NAVIGATION DROPDOWN MENUS ======= */
			
		/* ====== END TOP NAVIGATION DROPDOWNS ======= */	
	
	/* ====== END TOP NAVIGATION ======= */

/* ============================== END NAVIGATION ============================== */

/* ============================== BEGIN BLOCKS ============================== */

/* ============================== END BLOCKS ============================== */

/* ============================== BEGIN FOOTER
 ============================== */
#footer #footerCopyright a {
	color: #4378a3;
}

#siteLinks a:hover {
	color: #4378a3;
}
/* ============================== END FOOTER ============================== */

/* ============================== BEGIN HEADER ============================== */
#header #phone span{
	color: #4378a3; /* #295890 */
}

/* ============================== END HEADER ============================== */

/* ============================== BEGIN BUTTONS ============================== */

/* CTA Button */
.g-button.ctaButton {
	background-color: #4378a3; /* #295890 */
}
.g-button.ctaButton:hover {	
	background-color: #0a4475;
}

/* Secondary */
.g-button.secondary {
	background-color: #585858;
}
.g-button.secondary:hover {
	background-color: #393939;
}

/* ============================== END BUTTONS ============================== */

/* ============================== BEGIN FORMS ============================== */


.contactWidget h2{
	background-color: #4378a3; /* #295890 */
}
.contactWidget input.submit {
	background-color: #585858;
}
.contactWidget input.submit:hover {
	background-color: #393939;
}
input.focused, textarea.focused {
	border-color: #4378a3; /* #295890 */
}

/* Tray Form */
.trayHeadline {
	background: #4378a3; /* #295890 */
}
.trayCTA {
	color: #4378a3; /* #295890 */
}
.trayFormInput input.submit{
	background-color: #585858;
}
.trayFormInput input.submit:hover{
	background-color: #393939;
}
.infoNote {
	border: 1px solid #4378a3; /* #295890 */
}
/* ============================== END FORMS ============================== */

/* ============================== BEGIN BLOG ============================== */

/* ============================== END BLOG ============================== */

/* ============================== BEGIN CUSTOM ============================== */

/*--- HOME TESTIMONIALS BAND ---*/

.homeTestimonial a.testLink{
	color: #585858;
}

/* ROI Calculator */.step1 {
	background: url('../images/123_one.jpg') left center no-repeat;
}
.step2 {
	background: url('../images/123_two.jpg') left center no-repeat;
}
.step3 {
	background: url('../images/123_three.jpg') left center no-repeat;
}
.roiPhone {
	background: url('../images/roi-calls.jpg') no-repeat left center;
}
.roiPatients {
	background: url('../images/roi-patients.jpg') no-repeat left center;
}
.roiProduction {
	background: url('../images/roi-production.jpg') no-repeat left center;
}
.roiCost {
	background: url('../images/roi-calc.jpg') no-repeat left center;
}
.roi {
	background: url('../images/roi-final.jpg') no-repeat left center;
}

/* Job List */

.jobsTable thead td {
	border-bottom: 2px solid #4378a3; /* #295890 */
}
.jobsTable tbody td {
	border-bottom: 1px solid #295890;
}
.taxonomyEmph {
	color: #4378a3; /* #295890 */
}
.brownLink a {
	color: #585858
}


/* Job Single */

.jobsTableSingle thead td {
	border-bottom: 1px solid #4378a3; /* #295890 */
}
.jobsTableSingle tbody td {
	border-bottom: 1px solid #295890;
}
.wp-pagenavi a:hover, .wp-pagenavi span.current {
	border-color: #4378a3; /* #295890 */
	color: #4378a3; /* #295890 */
}

/* Referrals Page */
#referralSend thead td {
	border-bottom: 2px solid #4378a3; /* #295890 */
}
#referralSend tbody td {
	border-bottom: 1px solid #295890;
}

/* ============================== END CUSTOM ============================== */

/* ============================== BEGIN BLOG ============================== */

.post-title h2 a:hover {
	color: #295890;
}

/* ============================== END BLOG ============================== */

/* ============================== BEGIN HOMEPAGE BANNER =================== */

#content-newBanner{
	background: url('../images/videos_banner_bg.jpg') center top no-repeat;
}
.bannerBox{
	background-color:#393939;
}
.bannerBox:hover{
	background-color:#585858;
}

/* ============================== END HOMEPAGE BANNER ======================*/
.menu-sidebar-nav-container > ul > li > a {
  color: #585858;
	border-bottom:1px solid #393939;
}
/*side bar nav ends*/
.notification-design-gallery {
	background-color:#4378a3; /* #295890 */
}
