/* === DASHBOARD INTRO TOP === */
.dashboardTop {
	background: url(../images/charts.png) left top no-repeat;
	display: block;
	float: left;
	margin: 20px 0 0;
	min-height: 484px;
	width: 693px;
}
.introducingDashboard {
	width: 100%;
	float: left;
}
.introducingDashboard img {
	float:right;
	width: 444px;
	padding: 16px 0 12px;
}
.introducingDashboard p {
	color: #2e2e2e;
	float:right;
	font-family: calibri;
	text-align: right;
	font-size: 18px;
	line-height: 18px;
	width: 318px;
	margin-bottom: 14px;
	letter-spacing: 2px;
}
.dashboardForm {
	float: right;
	width: 270px;
	position: relative;
}
#funnelSendResults {
	bottom: -95px;
}
.dashboardForm form label{
	font-weight: bold;
}
.dashboardForm form input, .dashboardForm form textarea{
	padding: 6px;
	font-size: 12px;
	border: 1px solid #CECECE;
	width: 256px;
}
.dashboardForm form input.submit{
	width: 270px;
}
.dashboardForm form input.zip{
	width: 192px;
	float: right;
}

.dashboardForm .reserve-show {
	padding-bottom: 12px;
}

.dashboardForm form .firstName{
	width: 110px;
	margin-right: 5px;
}
.dashboardForm form .lastName{
	width: 123px;
}
.dashboardForm form .phoneArea, .dashboardForm form .phonePrefix {
	width: 32px;
}
.dashboardForm form .phoneExchange {
	width: 40px;
}
.dashboardForm form input[type=checkbox]{
	width: auto;
}
.dashboardForm form p {
	margin-bottom: 5px;
	text-align: left;
	color: #000;
}
.dashboardForm h2 {
	font-size: 18px;
}
.g-button.secondary {
	background-color: #5c93ab;
}
.g-button.secondary:hover {
	background-color: #46758a;
}

/* === CONTENT === */
.alignleft {
	float: left;
	padding-right: 14px;
}
.alignright {
	float: right;
	padding-left: 14px;
}
.clientLogin{
	width: 100%;
	float: right;
	text-align: right;
	padding-top: 12px;
}
.dashboardVideo{
	display: inline;
	float: left;
	width: 668px;
	padding: 25px 0 0 0;
	position: relative;
}
img.introducingTheDash{
	padding-bottom:20px;
	padding-left: 25px;
	max-width: 100%;
}