.ihm_wrap{
	width:740px;
}
.ihm_section{
	border:1px solid #ddd;
	border-bottom:0;
	background:#f9f9f9;
}
.ihm_opts label{
	font-size:12px;
	font-weight:700;
	width:200px;
	height:49px;
	display:block;
	float:left;
}
.ihm_upload_image_button{
	float:right;
	margin-right:100px;
}
.ihm_input {
	padding:30px 10px;
	border-bottom:1px solid #ddd;
	border-top:1px solid #fff;
}
.ihm_opts small{
	display:block;
	float:right;
	width:200px;
	color:#999;
}
.ihm_opts input[type="text"], .ihm_opts select{
	width:280px;
	font-size:12px;
	padding:4px;
	color:#333;
	line-height:1em;
	background:#f3f3f3;
}
.ihm_input input:focus, .ihm_input textarea:focus{
		background:#fff;
}
.ihm_input textarea{
	width:280px;
	height:175px;
	font-size:12px;
	padding:4px;
	color:#333;
	line-height:1.5em;
	background:#f3f3f3;
}
.ihm_title h3 {
	cursor:pointer;
	font-size:18px;
	line-height:23px;
	text-transform: uppercase;
	margin:0;
	font-weight:bold;
	color:#232323;
	float:left;
	width:70%;
	padding:14px 4px 14px 50px;
	background:url('../images/ihm_icon32.png') no-repeat 10px 9px;
}
.ihm_title{
	cursor:pointer;
	border-bottom:1px solid #ddd;
	background:#eee;
	padding:0;
}
.ihm_title span.submit{
	display:block;
	float:right;
	margin:0;
	padding:0;
	width:15%;
	padding:14px 0;
}
.clearfix{
	clear:both;
}
.ihm_table th, .ihm_table td{
	border:1px solid #bbb;
	padding:10px;
	text-align:center;
}
.ihm_table th, .ihm_table td.feature{
	border-color:#888;
	}
