/* ============================== BEGIN STYLES ============================== */

/* GREEN */

/* colors:
primary: #3a852b
primary dark: #2e6821
primary light: #669958

secondary: #585858
secondary dark: #393939

images:
banner: videos_banner_bg.jpg
*/

a {
	color: #3a852b;
}
h1 {
	color: #585858;
}
h2 {
	color: #3a852b;
}
h3 {
	color: #3a852b;
}

	/* ====== BEGIN MAIN COLUMN ===== */ 
	.mainColumnStyle ul li {
		list-style-image:url('../images/check-green.png');
	}
	/* ====== END MAIN COLUMN ===== */

	/* ====== BEGIN SIDEBAR ======= */
	/* ====== END SIDEBAR ======= */

/* ============================== ENDSTYLES ============================== */

/* ====== BEGIN GENERAL LAYOUT ======= */
	body {scroll;
	}
/* ====== END GENERAL LAYOUT ======= */

/* ============================== BEGIN NAVIGATION ============================== */

	/* ====== BEGIN MAIN NAVIGATION ======= */
	#navigationWrapper {
		background-color: #3a852b;
		border-top: 1px solid #669958;
		border-bottom: 1px solid #2e6821;
	}
	#navWrap {
		border-left: 1px solid #2e6821;
	}
	.navigationStyle .menu>li {
		border-right: 1px solid #2e6821;
		border-left: 1px solid #669958;
	}
	.navigationStyle .menu>li.current-menu-item, .navigationStyle .menu>li.current-menu-parent {
		border-left: 1px solid #255718;
		background: #2e6821;
	}
		
		/* ====== MAIN NAVIGATION DROPDOWN MENUS ======= */
		.navigationStyle .sub-menu {
			background: #393939;
		}
		.navigationStyle .sub-menu li:hover {
			background: #585858;
		}
						
		/* ====== END MAIN NAVIGATION DROPDOWNS ======= */
		
		
	#breadcrumbsWrapper {
		background: #393939;
	}
			
		/* ====== END MAIN NAVIGATION THIRD LEVEL ======= */
	
	/* ====== END MAIN NAVIGATION ======= */
	
	/* ====== BEGIN TOP NAVIGATION ======= */
	
				
		/* ====== TOP NAVIGATION DROPDOWN MENUS ======= */
			
		/* ====== END TOP NAVIGATION DROPDOWNS ======= */	
		
		.mobileMenuMain .mobileMenuHeader {
			background: #3a852b;
		}
		.mobileMenu .mobileMenuMain a {
			color: #3a852b;
		}
		.mobileMenu .mobileMenuMain ul.menu > li {
			border-bottom: 1px solid #C8E0C3;
		}
		.mobileMenu .mobileMenuMain ul.sub-menu > li {
			border-top: 1px solid #C8E0C3;
			background: #F5FAF4;
		}
	
	/* ====== END TOP NAVIGATION ======= */

/* ============================== END NAVIGATION ============================== */

/* ============================== BEGIN BLOCKS ============================== */

/* ============================== END BLOCKS ============================== */

/* ============================== BEGIN FOOTER ============================== */

#siteLinks a:hover {
	color: #3a852b;
}
/* ============================== END FOOTER ============================== */

/* ============================== BEGIN HEADER ============================== */
#header #phone span{
	color: #3a852b;
}

/* ============================== END HEADER ============================== */

/* ============================== BEGIN BUTTONS ============================== */

/* CTA Button */
.button {
	background-color: #3a852b;
}
.button:hover {
	background-color: #2e6921;
}

/* Secondary */
.button.secondary {
	background-color: #585858;
}
.button.secondary:hover {
	background-color: #393939;
}

/* ============================== END BUTTONS ============================== */

/* ============================== BEGIN FORMS ============================== */


.contactWidget h2{
	background-color: #3a852b;
}
.contactWidget input.submit {
	background-color: #585858;
}
.contactWidget input.submit:hover {
	background-color: #393939;
}
input.focused, textarea.focused {
	border-color: #3a852b;
}
.contactForm input.submit {
	background: #393939;
}

/* Tray Form */
.trayHeadline {
	background: #3a852b;
}
.trayCTA {
	color: #3a852b;
}
.trayFormInput input.submit{
	background-color: #585858;
}
.trayFormInput input.submit:hover{
	background-color: #393939;
}
.infoNote {
	border: 1px solid #3a852b;
}
/* ============================== END FORMS ============================== */

/* ============================== BEGIN BLOG ============================== */

/* ============================== END BLOG ============================== */

/* ============================== BEGIN CUSTOM ============================== */

/*--- HOME TESTIMONIALS BAND ---*/

.homeTestimonial a.testLink{
	color: #585858;
}

/* ROI Calculator */.step1 {
	background: url('../images/123_one.jpg') left center no-repeat;
}
.step2 {
	background: url('../images/123_two.jpg') left center no-repeat;
}
.step3 {
	background: url('../images/123_three.jpg') left center no-repeat;
}
.roiPhone {
	background: url('../images/roi-calls.jpg') no-repeat left center;
}
.roiPatients {
	background: url('../images/roi-patients.jpg') no-repeat left center;
}
.roiProduction {
	background: url('../images/roi-production.jpg') no-repeat left center;
}
.roiCost {
	background: url('../images/roi-calc.jpg') no-repeat left center;
}
.roi {
	background: url('../images/roi-final.jpg') no-repeat left center;
}

/* Job List */

.jobsTable thead td {
	border-bottom: 2px solid #3a852b;
}
.jobsTable tbody td {
	border-bottom: 1px solid #669958;
}
.taxonomyEmph {
	color: #3a852b;
}
.brownLink a {
	color: #585858
}


/* Job Single */

.jobsTableSingle thead td {
	border-bottom: 1px solid #3a852b;
}
.jobsTableSingle tbody td {
	border-bottom: 1px solid #669958;
}
.wp-pagenavi a:hover, .wp-pagenavi span.current {
	border-color: #3a852b;
	color: #3a852b;
}

/* Referrals Page */
#referralSend thead td {
	border-bottom: 2px solid #3a852b;
}
#referralSend tbody td {
	border-bottom: 1px solid #669958;
}

/* ============================== END CUSTOM ============================== */

/* ============================== BEGIN BLOG ============================== */

.post-title h2 a:hover {
	color: #669958;
}

/* ============================== END BLOG ============================== */

/* ============================== BEGIN HOMEPAGE BANNER =================== */

#content-newBanner{
	background: url('../images/videos_banner_bg.jpg') center top no-repeat;
}
.bannerBox{
	background-color:#393939;
}
.bannerBox:hover{
	background-color:#585858;
}

/* ============================== END HOMEPAGE BANNER ======================*/
.menu-sidebar-nav-container > ul > li > a {
  color: #585858;
	border-bottom:1px solid #393939;
}
/*side bar nav ends*/
.notification-design-gallery {
	background-color:#3a852b;
}

/* ============================== SUB PAGE ======================*/
.subHeader h1{
}
.subHeader h2{
}