#columnWrapper
{
	background-image: none;
}
#mainColumn
{
	width: 1000px;
	padding: 25px 0;
}
#mainColumn h1
{
	font-size: 38px;
	color: #525151;
	line-height: 54px;
	margin-bottom: 26px;
}
#mainColumn h1 span
{
	font-size: 72px;
}
#mainColumn h2
{
	font-size: 1.8em;
	line-height: 1.2em;
}
#mainColumn h2
{
	font-size: 1.8em;
	line-height: 1.2em;
}
p
{
	margin-bottom: 1em;
}
.mainColumnStyle ul li{
	padding: 4px 0;
}
.landingPageForm input, .landingPageForm textarea {
	border: 1px solid #555;
	width: 180px;
}
.landingPageForm textarea {
	height: 40px;
}
.landingPageForm .firstName{
	width: 76px;
}
.landingPageForm .lastName {
	width: 90px;
}
form input.submit {
	width: 180px;
}
.column {
	float: left;
}
.topBox{
	padding: 10px 20px 0;
	float:left;
}
.topBox .first{
	width: 540px;
}
.topBox .second{
	width: 400px;
	padding-left: 20px;
}
.bottomBox{
	float: left;
	padding: 0 10px;
}
.bottomBox .column{
	float: left;
	padding: 10px;
	width: 470px;
}
.bottomBox img{
padding: 0 35px;
}
.testimonialWrapper{
	float:left;
	width: 1000px;
}
.homeTestimonial {
	background: #f6f6f6;
	float: left;
	width: auto;
	padding:24px 50px;
}

.landingPage .column.second img.attachment-post-thumbnail{
	max-width: 100%;
	height: auto;
	padding-bottom: 10px;
}





