/*
Theme Name: Invisible Hand
Theme URI: http://www.invisiblehandmarketing.com
Description: Custom theme developed by Invisible Hand Marketing
Author: Invisible Hand - Mark Delorey
Author URI: http://www.invisiblehandmarketing.com
Version: 0.1
Tags: invisiblehand
*/

/* ============================== BEGIN STYLE RESETS ============================== */

html,body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,img,p,blockquote {margin:0;padding:0;}html, body {height:100%;}h1,h2,h3,h4,h5,h6{font-size:1em;font-weight:normal;font-style: normal;}ul,ol{list-style: none;}img{border:none;}fieldset{border:none;}strong{font-weight: bold;}em{font-style:italic;}a{outline:none;}

/* ============================== END STYLE RESETS ============================== */

/* ============================== BEGIN MISC ============================== */

/* ====== FLOATS/CLEARS ======= */
.float { float: left; }
.floatOpposite { float: right; }
.clear { clear: both; } 
.clearLeft { clear: left; }
.clearRight { clear: right; }

/* ====== ALIGN STYLES ======= */
.alignStyle1 { text-align: center; }
.alignStyle2 { text-align: right; }
.alignStyle3 { text-align: left; }

/* ============================== END MISC ============================== */

/* ============================== BEGIN STYLES ============================== */
body {
	font-size: 13px;
	color: #000;
	font-family: Arial,Helvetica,sans-serif;
}
p {
	margin: 0 0 1.4em 0;
	line-height: 1.4em;
}
a {
	font-family: 'Open Sans', Arial, Sans-Serif;
	text-decoration: none;
	outline: none;
}
a:hover {
	text-decoration: underline;
}
h1 {
	font-size: 1.9em;
	font-weight: 300;
	font-family: 'Open Sans', Arial,Helvetica,Sans-serif;
	margin: 0 0 10px 0;
}
h1 a {
	text-decoration: none;
}
h2 {
	font-size: 1.6em;
	font-weight: 300;
	font-family: 'Open Sans', Arial,Helvetica,Sans-serif;
	margin: 0 0 10px 0;
}
h2 a {
	text-decoration: none;
}
h3 {
	font-size: 1.3em;
	font-weight: 300;
	font-family: 'Open Sans', Arial,Helvetica,Sans-serif;
	line-height: 1.5em;
	margin: 0 0 10px 0;
}
img {

}
#topNav .topTabs ul li{
	min-width: 120px;
}
.hr {
	margin: 1.4em 0;
	border: none;
	border-bottom: 1px solid #d9d9d9;
}
.hr2 {
	margin: 1.4em 0;
	border: none;
}
input:focus, textarea:focus {
	outline: none;
}
input {
	font-family: Arial, sans-serif;
}

input[type=submit], input.submit {
	font-family: 'Open Sans', Arial, sans-serif;
	border:0;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, .35);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
	padding: 6px 14px 10px;
	font-size: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 4px;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	line-height: 1;
	position: relative;
	
	margin-bottom: 0;
	color: #FFFFFF;
	width: 100%;
}
.quotes{
	font-size:300%;
}
.quotes.open{
	float:left;
}
	
	/* ====== BEGIN MAIN COLUMN ===== */
	.mainColumnStyle {
	}
	.mainColumnStyle p {
		font-size:100%;
	}
	.mainColumnStyle ul {
		padding-left: 10px;
		margin-bottom: 15px;
		margin-left: 23px;
	}
	.mainColumnStyle ul li {
		margin-bottom: 0px;
		padding: 4px 0px 8px 0px;
	}
	.mainColumnStyle ol {
		padding-left: 10px;
		margin-left: 23px;
		list-style-image: none;
		list-style-type: decimal;
		margin-bottom: 1.5em;
	}	
	.mainColumnStyle ol li {
		margin: .5em 0;
		padding-left: 5px;
	}
	.mainColumnStyle ol li {
		margin: .5em 0;
	}
	.mainColumnStyle ol ul { 
		margin: .5em 0;
	}
	/* ====== END MAIN COLUMN ===== */

	/* ====== BEGIN SIDEBAR ======= */
	.sidebarStyle {
		padding-bottom: 15px;
		float:left;
		width: 100%;
	}
	/* ====== END SIDEBAR ======= */
	
/* ============================== ENDSTYLES ============================== */

/* ============================== BEGIN PAGE LAYOUT ============================== */

	/* ====== BEGIN GENERAL LAYOUT ======= */
	body {
		background: url('../images/chords-gray.jpg') left top repeat scroll;
		padding-bottom: 25px;
	}
	#container {
		position: relative;
		margin: 0 auto;
		width: 100%;
		padding-top: 242px;
	}
	#content {
		position: relative;
		margin: 0 auto;
		width: 100%;
		text-align: left;
		padding: 0;
	}
	#columnWrapper {
		position: relative;
		padding: 0;
		margin: 0 auto;
		width: 1000px;
		background: #FFF;
		z-index: 15;
	}
	.fullWidth #columnWrapper {
		width: 100%;
		padding-bottom: 6px;
	}
	img.size-full{
		max-width: 100%;
		height: auto;
	}
	/* ====== END GENERAL LAYOUT ======= */
	
	/* ====== BEGIN MAIN COLUMN ======= */
	#mainColumn {
		display: inline;
		float: left;
		width: 668px;
		padding: 25px 0 25px 25px;
		position: relative;
	}
	/* ====== END MAIN COLUMN ======= */
	
	/* ====== BEGIN SIDEBAR ======= */
	#sidebar {
		display: inline;
		float: right;
		width: 298px;
	}
	/* ====== END SIDEBAR======= */

/* ============================== END PAGE LAYOUT ============================== */

/* ============================== BEGIN NAVIGATION ============================== */

	/* ====== BEGIN MAIN NAVIGATION ======= */
	#navigationWrapper {
		position: absolute;
		top: 151px;
		left: 0;
		height: 57px;
		z-index: 100;
		font-size: 15px;
		width: 100%;
		border-bottom: 1px solid #fff;
		font-weight: 300;
	}
	#navWrap {
		width: 999px;
		margin: 0 auto;
	}
	.navigationStyle ul.menu {
		text-align: left;
		padding: 0;
		list-style-type: none;
		font-size:0;
	}
	.navigationStyle .menu>li {
		position: relative;
		display:inline-block;
		padding: 18px 0;
		margin: 0;
	}
	.navigationStyle .menu>li>a {
		padding: 18px 15px;
		height: 15px;
		font-size: 16px;
		font-weight:300;
	}
	.navigationStyle .menu a span {
		float: right;
		font-size: 120%;
		line-height: 100%;
	}
	.navigationStyle .menu>li.has-children {
		padding-right: 14px;
	}
	
		/* Normal */
		.navigationStyle .menu>li>a:link, 
		.navigationStyle .menu>li>a:visited,
		.navigationStyle .menu>li>a:active { 
			color: #FFFFFF;
			text-decoration: none;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, .35);
		}
		
		/* Hover */
		.navigationStyle .menu>li:hover>a {
			text-shadow: 1px 1px 2px rgba(0, 0, 0, .75);
		}
		
		/* ====== MAIN NAVIGATION DROPDOWN MENUS ======= */
		.navigationStyle .sub-menu {
			display: none;
			position: absolute;
			top: 54px;
			left: -2px;
			height: auto;
			width: 210px;
			border: 2px solid #FFF;
			z-index: 5;
			font-size: 13px;
			-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
			-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
			box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
		}
		.navigationStyle .has-children:hover > .sub-menu {
			display: block;
		}
		.navigationStyle .sub-menu>li {
			display: block;
			position: relative;
			float: left;
			margin: 0;
			padding: 0;
			width: 210px;
			height: auto;
			z-index: 5;
		}
		.navigationStyle .sub-menu>li>a {
			display: block;
			float: none;
			margin: 0;
			padding: 10px;
			height: auto;
			text-align: left;
		}
		
			/* Normal */
			.navigationStyle .sub-menu>li>a {
				color: #FFF;
				text-decoration: none;
			}
			
			/* Hover */
			.navigationStyle .sub-menu>li:hover>a {
				text-decoration: none;
			color: #efefef;
			}
						
		/* ====== END MAIN NAVIGATION DROPDOWNS ======= */
		
		/* ====== MAIN NAVIGATION THIRD LEVEL ======= */
		.navigationStyle .sub-menu .sub-menu {
			top: 0;
			left: 210px;
		}
		.navigationStyle .sub-menu.hover {
			display: block;
		}
		.navigationStyle .sub-menu>li {
			display: block;
			float: left;
			margin: 0;
			padding: 0;
			width: 210px;
			height: auto;
			z-index: 5;
		}
		.navigationStyle .sub-menu>li>a {
			display: block;
			float: none;
			margin: 0;
			padding: 8px;
			height: auto;
			text-align: left;
		}
		
	#breadcrumbsWrapper {
		position: absolute;
		top: 210px;
		left: 0;
		height: 32px;
		z-index: 1;
		font-size: 15px;
		width: 100%;
	}
		#breadcrumbs {
			color: #FFF;
			font-size: 12px;
			width: 1000px;
			margin: 8px auto;
			text-align: left;
		}
		#breadcrumbs a {
			color: #FFF;
		}
			
		/* ====== END MAIN NAVIGATION THIRD LEVEL ======= */
	
	/* ====== END MAIN NAVIGATION ======= */
	
	/* ====== BEGIN TOP NAVIGATION ======= */
	#topNav {
		position: absolute;
		top: 0;
		right: 0;
		height: 38px;
		text-align: center;
		width: 638px;
		z-index: 2;
		font-size: 12px;
		padding: 0 0 0 35px;
		background: url('../images/top-nav-collection.jpg') right no-repeat;
	}
	#topNav .topTabs {
	}
	#topNav li {
		float: left;
		position: relative;
	}
	#topNav li a{
		padding: 14px 10px;
		display: block;
	}
	#topNav .sub-menu li a{
		padding: 6px 8px;
	}
	#topNav li a>span {
		position:relative;
		right: -6px;
	}
	#topNav .topTabs {
		float: left;
		width: 292px;
		background: url('../images/top-nav-sections.jpg') no-repeat;
	}
	#topNav .topTabs ul {
		padding-left:19px;
	}
	#topNav .topTabs li a{
		padding: 14px 26px;
	}
	#topNav .topTabs li.menu-item-1610 a{
		padding: 14px 35px;
	}
	.topNavStyle .menu li.has-children {
		padding-right: 5px;
	}
	.topNavStyle .menu li.has-children>a {
		padding-right: 15px;
	}
	
		/* Normal */
		.topNavStyle .menu>li>a { 
			color: #fff;
			text-decoration: none;
		}
		
		/* Hover */
		.topNavStyle .menu>li:hover>a {
			text-decoration: none;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, .35);
		}
				
		/* ====== TOP NAVIGATION DROPDOWN MENUS ======= */
		.topNavStyle .sub-menu {
			display: none;
			position: absolute;
			top: 37px;
			left: 0;
			height: auto;
			width: 142px;
			background-color: #56514b;
			border: 1px solid #FFF;
			z-index: 5;
			font-size: 13px;
			-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
			-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
			box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
		}
		.topNavStyle .last .sub-menu {
			left: auto;
			right: -13px;
		}
		.topNavStyle .sub-menu.hover {
			display: block;
		}
		.topNavStyle .sub-menu>li {
			display: block;
			float: left;
			margin: 0;
			padding: 0;
			width: 140px;
			height: auto;
			z-index: 5;
		}
		.topNavStyle .sub-menu>li>a {
			display: block;
			float: none;
			margin: 0;
			padding: 10px;
			height: auto;
			text-align: left;
		}
		
			/* Normal */
			.topNavStyle .sub-menu>li>a {
				color: #DADADA;
				text-decoration: none;
			}
			
			/* Hover */
			.topNavStyle .sub-menu>li:hover>a{
				color: #FFF;
				text-decoration: none;
			}
			
		/* ====== END TOP NAVIGATION DROPDOWNS ======= */	
	
	/* ====== END TOP NAVIGATION ======= */

/* ============================== END NAVIGATION ============================== */

/* ============================== BEGIN BLOCKS ============================== */

.widget {
	margin-top:15px;
}

/* ============================== END BLOCKS ============================== */

/* ============================== BEGIN FOOTER ============================== */

#footerTw span {
	color: #56C8F4;
}
#footerRSS span {
	color: #F3A668;
}
#footerFb span {
	color: #7AA5FC;
}
#footerLi span {
	color: #3E8DB5;
}

#footerWrapper {
	position: relative;
	padding: 0;
	width: 100%;
	background: #414141;
	height: 180px;
	overflow: visible;
	font-size: 13px;
}
#footer {
	width:1000px;
	margin: 0 auto;
}
.footerStyle {
	position: relative;
	height: auto;
	padding: 10px;
	text-align: center;
	color: #FFFFFF;
	font-size: 90%;
	margin: 0 20px;
}

#footerSocial {
	float: left;
	width: 315px;
	font-size: 14px;
}
#footerSocial a {
	float: left;
	width: 111px;
	height: 55px;
	padding: 15px 0 0 45px;
	background-position: left bottom;
	background-repeat: no-repeat;
	text-align: left;
	position: relative;
	color: #FFF;
}
#footerSocial a:hover {
	text-decoration: none;
	color: #DADADA;
}
#footerTw {
	background-image: url('../images/footer-twitter.png');
}
#footerTw:hover {
	background: url('../images/footer-twitter.png') left top no-repeat;
}
#footerRSS {
	background-image: url('../images/footer-rss.png');
}
#footerRSS:hover {
	background: url('../images/footer-rss.png') left top no-repeat;
}
#footerFb {
	background-image: url('../images/footer-facebook.png');
}
#footerFb:hover {
	background: url('../images/footer-facebook.png') left top no-repeat;
}
#footerLi {
	background-image: url('../images/footer-linked-in.png');
}
#footerLi:hover {
	background: url('../images/footer-linked-in.png') left top no-repeat;
}

#siteLinks {
	float: left;
	margin: 6px 20px 9px;
	padding: 6px 20px;
	width: 275px;
	text-align: left;
	border-left: 1px solid #555;
	border-right: 1px solid #555;
}
#siteLinks .menu li {
	float: left;
	width: 170px;
	list-style: disc inside;
	color: #FFF;
}
#siteLinks .menu li.firstRow {
	width: 100px;
}
#siteLinks a {
	color: #FFF;
	line-height: 22px;
}

#footerRight {
	float: left;
	margin: 12px 0 15px 0;
	width: 325px;
	padding-top: 5px;
}
#authorityIcons {
	display: block;
	margin-bottom: 15px;
	text-align: center;
}
#authorityIcons img {
	display: inline-block;
	margin-right: 6px;
}

/* ============================== END FOOTER ============================== */

/* ============================== BEGIN HEADER ============================== */

#headerWrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 151px;
	width: 100%;
	z-index: 1;
	background: #fff;
}	
#header {
	height: 155px;
	width: 1000px;
	margin: 0 auto;
	position: relative;
	display: block;
}
.logoBox{
	width: 440px;
	float: left;
}
#companyLogo {
	display: block;
	text-align: left;
	position:relative;
	left: -22px;
}
#tagline {
	display: block;
	position: relative;
	top: -58px;
	left: 16px;
	font-size: 15px;
	z-index: 1;
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	text-align: left;
	color: #6b6b6b;
}
#header #phone {
	display: block;
	float:right;
	color: #6b6b6b;
	position:relative;
	right: auto;
	top: 75px;
	left: auto;
	width: auto;
	font-size: 26px;
	z-index: 1;
	margin: 0;
	padding: 0;
}
#header #phone span{
	font-weight: bold;
}
#roiLink {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 61px;
	width: 217px;
	padding-left: 40px;
	padding-top: 25px;
	background: url('../images/header-roi.jpg') left top no-repeat;
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	text-align: left;
	-moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
	-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
}
#roiLink span {
	color: #000;
}
#roiLink:hover {
	background-position-y: bottom;
}
#headerPhone {
	position: absolute;
	top: 40px;
	right: 50px;
	left: auto;
	width: auto;
	margin: 0;
	padding: 0;
}
#headerPhone h2 {
	font-size: 350%;
	color: #003162;
}
a#headerButton {
	position: absolute;
	top: 85px;
	right: 165px;
	left: auto;
}
a#headerButton:active {
	top: 86px;
}
#facebookLike {
	width: 85px;
	height: 20px;
	position: absolute;
	top: 85px;
	right: 260px;
}
#plusOne {
	width: 85px;
	height: 20px;
	position: absolute;
	top: 111px;
	right: 243px;
}

/* ============================== END HEADER ============================== */

/* ============================== BEGIN BUTTONS ============================== */

/* Google Buttons */

.g-button {
	text-shadow: 0px 1px 1px rgba(0, 0, 0, .35);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
	padding: 6px 14px 10px;
	font-size: 15px;
	font-weight: 300;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	line-height: 1;
	position: relative;
}
.g-button.orange.ctaButton{background-color: #f09720;}
.g-button.green.ctaButton{background-color: #3a852b;}
.g-button.blue.ctaButton{background-color: #295890;}
.g-button.orange.ctaButton:hover{background-color: #cc7d27;}
.g-button.green.ctaButton:hover{background-color: #2e6921;}
.g-button.blue.ctaButton:hover{background-color: #0a4475;}
.g-button.large {
	border: 0;
	padding: 12px 20px;
	font-size: 18px;
}
.g-button.medium {
	border: 0;
	padding: 8px 14px;
	font-size: 16px;
}
.g-button:hover {
	text-decoration: none;
}
.g-button:active {
	top: 1px;
}
p.dmcta .g-button{margin-right: 18px;}



/* ============================== END BUTTONS ============================== */

/* ============================== BEGIN FORMS ============================== */

form input[type=text] {
/* 	height: 12px; */
}

.sticky {
	display: none;
}

.reserve-show{
	display: none;
}
.subHome .reserve-show{
	padding-bottom:42px;
}

.contactWidget {
float: right;
width: 257px;
margin-right: 20px;
-moz-border-radius: 5px 5px 0 0;
-webkit-border-radius: 5px 5px 0 0;
border-radius: 5px 5px 0 0;
-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
position: relative;
}

.contactWidget h2, .sidebarStyle .contactWidget h2 {
	color: #FFFFFF;
	margin-bottom: 0;
	padding: 12px 4px;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0 0;
	text-shadow: 0px 1px 1px rgba(0,0,0,.35);
	text-align: center;
}
.contactWidget label {
	font-weight: bold;
}
.contactWidget p {
	margin-bottom: 5px;
	text-align: left;
	color:#000;
}
.contactWidget .formBody {
	padding: 5px 15px 14px;
	position: relative;
	text-align: center;
}

.contactWidget input.submit.disabled {
	background-color: #b6b6b6;
}
.contactWidget input.submit {
	border: 0;
	padding: 12px 20px;
	font-size: 18px;
	font-weight: 300;
}
.contactWidget input.submit:active {
	top: 1px;
}
.contactWidget.fixed {
	position: fixed;
}

.contactWidget select {
	padding: 3px;
	font-size: 12px;
	border: 1px solid #CECECE;
	width: 150px;
	outline: none;
}
.contactWidget input, .contactWidget textarea{
	padding: 3px;
	font-size: 12px;
	width: 260px;
	border: 1px solid #CECECE;
	width: 217px;
}
.contactWidget textarea{
	height: 70px;
}
.contactWidget .firstName {
	width: 98px;
	margin-right: 5px;
}
.contactWidget .lastName {
	width: 102px;
}
.contactWidget .phone {
	margin-left: 0;
	margin-right: 0;
}
.contactWidget .phoneArea,
.contactWidget .phonePrefix,
.contactWidget .phoneExchange,
.landingPageForm .phoneArea,
.landingPageForm .phonePrefix,
.landingPageForm .phoneExchange {
	margin: 0;
	width: 24px;
}
.contactWidget .phoneExchange,
.landingPageForm .phoneExchange {
	width: 32px;
}
.contactWidget .validate input {
	width: 25px;
	margin-right: 5px;
	padding: 6px 8px 6px 8px;
	display: inline-block;
}
.contactWidget .check-status {
	padding: 3px 7px;
	width: 135px;
	display: inline-block;
}
.contactWidget .check-status-error {
	border: 2px solid red;
	background: #FFCFCF 4px center url('../images/form-validation-error-small.png') no-repeat;
	padding-left: 30px;
}
.contactWidget .check-status-success {
	border: 2px solid green;
	background: #b3f6b3 4px center url('../images/form-validation-good-small.png') no-repeat;
	padding-left: 30px;
}
.contactWidget .reserve input {
	width: auto;
	display: inline;
}
.contactWidget .city {
	margin-bottom: 8px;
}
.contactWidget .statesDropdown {
	width: 60px;
}
.contactWidget .zip {
	width: 80px;
}
.contactWidget .reserve-show,
#roiContact .reserve-show,
.landingPageForm .reserve-show {
	display: none;
}
img.ajax-loader {
	border: none;
	vertical-align: middle;
	max-width: 100px;
}

/* Form Response Output */
.submitWrapper {
	position:absolute;
	bottom: 0;
	width: 100%;
}
.sideContact .submitWrapper {
	position:relative;
}
#funnelSendResults .response-output{
	position: absolute;
	top: -4px;
	bottom: auto;
	left: -26px;
	width: 240px;
	padding: 10px;
	padding-left: 44px;
	min-height: 33px;
}
#subHomeSendResults .response-output{
	position: absolute;
	top: 6px;
	bottom: auto;
	left: -8px;
	width: 240px;
	padding: 10px;
	padding-left: 44px;
	min-height:33px;
}
#sideSendResults .response-output {
	position: absolute;
	top: 50px;
	bottom: auto;
	left: -15px;
	width: 200px;
	padding: 10px;
	padding-left: 44px;
	min-height: 33px;
}
#traySendResults.response-output{
	padding: 10px;
	padding-left: 44px;
	margin-bottom: 10px;
}
#refSendResults.response-output {
	margin-bottom: 25px;
	margin-left: 145px;
}
#landingSendResults.response-output {
	margin: 20px auto 0;
	z-index: 50;
}
#oneColumnSendResults.response-output {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 330px;
}

.response-output {
	z-index: 1000;
	border: 2px solid #f7e700;
	color: #222222;
	display: none;
	text-align: left;
	background: #FFFBBF 4px 10px url('../images/form-validation-warning.png') no-repeat;
}
.response-output.error {
	color: red;
	border: 2px solid red;
	font-weight: bold;
	background: #FFCFCF 4px 10px url('../images/form-validation-error.png') no-repeat;
}
.response-output.success {
	color: green;
	border: 2px solid green;
	font-weight: bold;
	background: #b3f6b3 4px 10px url('../images/form-validation-good.png') no-repeat;
	min-height:33px;
}
.response-output.loading {
	border-color: #CECECE;
	background: #FCFCFC url('../images/form-validation-loading.gif') 4px center no-repeat;
	min-height:33px;
}

/* ============================== END FORMS ============================== */

/* ============================== BEGIN BLOG ============================== */

.blog.post {
	margin-bottom: 20px;
}

h2#blog-title {
	padding: 20px 0 5px;
	font-size: 32px;
}
h3#blog-subtitle {
	padding: 20px 10px 5px;
	font-size: 28px;
}
p.blog-intro {
	margin-left: 30px;
}
.post-title h2 a:hover {
	text-decoration: none;
}
.post.blog {
	position: relative;
}
.post-date { 
	height: 44px; 
	position: absolute; 
	right: 10px; 
	top: 25px; 
	text-align: center; 
	width: 112px; 
}
.post-date .post-day {
	font-size: 36px;
	font-weight: bold;
	line-height: 45px;
	display: block;
	width: 55px;
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
	border-right: 1px solid #222222;
}
.post-date .post-month {
	display: block;
	font-size: 18px;
	left: 60px;
	line-height: 1em;
	position: absolute;
	text-transform: uppercase;
	top: 6px;
	width: 50px;
}
.post-date .post-year {
	display: block;
	font-size: 14px;
	font-weight: bold;
	left: 60px;
	letter-spacing: 2px;
	line-height: 1em;
	position: absolute;
	top: 25px;
	width: 53px;
}
.post h2 {
	font-size: 28px;
	width: 490px;
	margin-bottom: 10px;
	padding: 20px 0 10px;
}
.post-info {
	border: 1px solid #DADADA;
	border-left: none;
	border-right: none;
	font-size: 11px;
	line-height: 22px;
	padding: 3px 1px;
	position: relative;
	margin-bottom: 17px;
}
.post-info .post-categories {
	float: left;
	max-width: 400px;
}
.post-info .post-commentcount {
	float: right;
}
.post .tags {
	margin-bottom: 10px;
}
h3#comments {
	border: 1px solid #DADADA;
	border-left: none;
	border-right: none;
}
ol.commentlist{
	list-style: none;
}
ol.commentlist li {
	border-bottom: 1px solid #DADADA;
	background-color: #EFEFEF;
	padding: 10px;
	margin-top: 0;
	margin-bottom: 0;
}
ol.commentlist li.alt {
	background-color: #FFFFFF;
}
ol.commentlist li img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
ol.commentlist li p {
}
form#commentform {
}
h3#respond {
}

h2#category {
}
h2.browse {
	border: 1px solid #DADADA;
	border-left: none;
	border-right: none;
	font-size: 32px;
	padding: 6px 0;
	margin-right: 25px;
}
ul.post-archives {
	margin-left: 40px;
}

.blogSidebar{
	padding: 0 16px 18px 30px;
}
.blogSidebar h2{
	color: #000;
}
.blogSidebar li{
	line-height: 100%;
	margin-left: 6px;
	padding-bottom: 10px;
}

.readMore {
	float: right;
}

.post .wp-post-image{
	max-width: 660px;
	height: auto;
}

.blogExcerpt img.wp-post-image {
	float:left;
	padding: 6px 6px 0;
}

/* ============================== END BLOG ============================== */

/* ============================== BEGIN CUSTOM ============================== */

/* All homepages */

#specialPromotionHero {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 11;
	background: url('../images/video-promotion-banner.jpg') top center no-repeat;
	overflow: hidden;
	display: none;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .85);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .85);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .85);
}
.theme-videos #specialPromotionHero, .theme-postcards #specialPromotionHero{
	top: 1px;
}
img.alignnone, img.aligncenter {
	max-width: 668px;
	height: auto;
}

/* Sub Homepage */
.subSlider {
	z-index: 12;
	position: relative;
}
#subHomeBlocks {
	padding: 20px 0;
	background: #fff;
	width: 1000px;
	margin: 0 auto;
}
.subHomeBlock {
	float: left;
	margin-left: 26px;
	width: 283px;
	min-height: 394px;
	font-weight: normal;
	padding: 10px 24px 10px 0;
	text-align: center;
	position: relative;
}
.subHomeBlock.last {
	border: none;
}
.subHomeBlock p, .subHomeBlock h2, .subHomeBlock h3, .subHomeBlock h4, .subHomeBlock img {
	margin-bottom: 14px;
}
.subHomeBlock .g-button {
	width: 240px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.subHomeBlock .g-button:active {
	bottom: -1px;
	top: auto;
}
#homeTestimonial {
	color: #222;
}
.subHomeBlock h2 {
	color: #222;
}
.subHomeBlock h3 {
	color: #222;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	font-style: italic;
	margin-bottom: 0;
}
.subHomeBlock p {
	text-align: left;
	
}
.homeLinkImg {
	display: block;
	width: 282px;
	height: 159px;
	margin-bottom: 15px;
}
.homeLinkImg img {
	width: 100%;
	overflow: hidden;
}
.subHomeBlock.formBlock p {
	margin: 0 0 6px;
}
.subHomeBlock input {
	padding: 6px;
	width: 93%;
	border:1px ridge #a5a5a5;
}
.subHomeBlock input[type=checkbox] {
	width: auto;
}
.subHomeBlock input.zip {
	width: 72%;
}
.subHomeBlock input[type=submit] {
	width: 280px;
	border:0;
}
.subHomeBlock textarea {
	padding: 2px;
	width: 97%;
	height: 70px;
}
.themePostcards .subHomeBlock textarea {
	height: 60px;
}
.subHomeBlock .phone input {
	width: 22%;
}
.subHomeBlock .phone input.phoneExchange {
	width: 35%;
}
.subHomeBlock .name input.firstName {
	width: 30%;
	float:left;
}
.subHomeBlock .name input.lastName {
	width: 55%;
	margin:0 0 0 6px;
}

/*--- HOME TESTIMONIALS BAND ---*/
.homeTestimonial {
	width: 960px;
	margin: 0 auto;
	padding:26px;
	font-size:14px;
	position: relative;
}
.homeTestimonial a {
	float:left;
	padding-right: 20px;
}
.homeTestimonial a img {
	height: auto;
	max-height:90px;
	width: auto;
	margin-right:20px;
	border: 6px solid #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
	transform: rotate(-4deg);
	-ms-transform: rotate(-4deg); /* IE 9 */
	-webkit-transform: rotate(-4deg); /* Safari and Chrome */
	-webkit-backface-visibility: hidden;
}
.homeTestimonial .testimonialName {
	font-size:10px;
}
.homeTestimonial a.testLink{
	text-decoration: underline;
	float:right;
}
.testimonialContent{
	padding-top:10px;
  text-indent: -14px ;
}

/* ROI Calculator */
#submitLoading, #submitLoading2 {
	margin-left: 25px;
	display: none;
}
#roiStep1 {
	padding-bottom: 25px;
	border-bottom: 1px solid #DADADA;
	margin-bottom: 25px;
}
.step1 {
	height: 75px;
	padding-left: 100px;
	padding-top: 8px;
	margin-bottom: 15px;
}
.step1 h2, .step3 h2 {
	font-size: 28px;
}
#roiStep2 {
	padding-bottom: 25px;
	border-bottom: 1px solid #DADADA;
	margin-bottom: 25px;
}
.step2 {
	height: 90px;
	padding-left: 100px;
	padding-top: 0;
	margin-bottom: 15px;
}
.step2 button {
	margin-bottom: 8px;
}
#roiStep3 {
	padding-bottom: 25px;
	margin-bottom: 25px;
}
.step3 {
	height: 75px;
	padding-left: 100px;
	padding-top: 8px;
	margin-bottom: 15px;
}
#roiStep3 button {
	margin-left: 100px;
}
#roiContact {
	position: relative;
}
#formCover {
	width: 640px;
	height: 375px;
	background: url('../images/white-transparency-85.png');
	position: absolute;
	z-index: 50;
	display: none;
}
#formCover img {
	position: absolute;
	left: 330px;
	top: 110px;
}
#roiResults {
	padding-top: 25px;
	display: none;
}
.formLabels {
	float: left;
	width: 200px;
	margin-left: 100px;
	line-height: 35px;
}
.formFields {
	float: left;
	width: 300px;
	line-height: 35px;
}
.formLabels div.label {
	padding: 0 5px 5px 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #DADADA;
}
.questions {
	height: 75px;
}
.validate2 {
	display: none;
}
.formFields div.field {
	padding: 0 5px 5px 25px;
	margin-bottom: 5px;
	border-bottom: 1px solid #DADADA;
}
.formFields div.no-border, .formLabels div.no-border {
	border: none;
}
.formFields select {
	padding: 4px;
	font-size: 14px;
	border: 1px solid #CECECE;
	width: 150px;
	outline: none;
}
.formFields input, .formFields textarea{
	padding: 6px;
	font-size: 14px;
	width: 260px;
	border: 1px solid #DADADA;
}
.formFields .phoneArea,
.formFields .phonePrefix,
.formFields .phoneExchange {
	margin: 0 5px;
	width: 30px;
}
.formFields .phoneExchange {
	width: 40px;
}
.formFields .validate input {
	width: 25px;
	margin-right: 5px;
}
.check-status {
	padding: 6px 5px 5px;
}
.check-status-error {
	border: 2px solid red;
	background: #FFCFCF 4px center url('../images/form-validation-error-small.png') no-repeat;
	padding: 6px 5px 5px 30px;
}
.check-status-success {
	border: 2px solid green;
	background: #b3f6b3 4px center url('../images/form-validation-good-small.png') no-repeat;
	padding: 6px 5px 5px 30px;
}
.formFields textarea {
	width: 260px;
}
#forecasted {
	width: 305px;
	float: left;
	border-right: 1px solid #DADADA;
	padding-right: 8px;
}
#guaranteed {
	padding-left: 13px;
	float: left;
	width: 305px;
}
.labels {
	float: left;
	width: 206px;
	font-size: 16px;
	line-height: 38px;	
	margin-left: 10px;
}
.labels div {
	padding-left: 38px;
}
.values {
	float: left;
	width: 85px;
	text-align: center;
	font-size: 16px;
	line-height: 38px;	
}
#forecasted h3 {
	background: url('../images/roi-icon.jpg') no-repeat left center;
	font-size: 28px;
	line-height: 46px;
	padding-left: 46px;
}
#guaranteed h3 {
	background: url('../images/roi-guarantee.jpg') no-repeat left center;
	font-size: 28px;
	line-height: 46px;
	padding-left: 46px;
}
.wijradialgauge {
	display: block;
	height: 155px;
	width: 305px;
	position: relative;
}
.roi {
	font-size: 24px;
	padding-left: 46px;
	line-height: 46px;
	float: left;
	width: 170px;
	border-bottom: 1px solid #DADADA;
}
.roiVal {
	border-bottom: 1px solid #DADADA;
}
.roiVal {
	font-size: 24px;
	line-height: 46px;
	float: left;
	width: 85px;
	text-align: center;
}
input.error, input.check-error {
	border-color: red !important;
}
input.check-success {
	border-color: green;
}
#roiSendResults {
	border: 2px solid #f7e700;
	color: #222222;
	background-color: #FFFBBF;
	position: relative;
	padding: 10px;
	margin-left: 75px;
	margin-right: 75px;
	margin-top: 15px;
	display: none;
	padding-left: 44px;
	background: 4px center url('../images/form-validation-warning.png') no-repeat;
}
#roiSendResults.error {
	color: red;
	border: 2px solid red;
	font-weight: bold;
	background: #FFCFCF 4px center url('../images/form-validation-error.png') no-repeat;
}
#roiSendResults.success {
	color: green;
	border: 2px solid green;
	font-weight: bold;
	background: #b3f6b3 4px center url('../images/form-validation-good.png') no-repeat;
}
#roiSendResults.loading {
	border-color: #CECECE;
	background: #FCFCFC url('../images/form-validation-loading.gif') 4px center no-repeat;
}
/* PR archive page */
.post-type-archive .mainColumnStyle h1 {
	border-bottom: 1px solid #DADADA;
	padding-bottom: 25px;
	margin-bottom: 25px;
}
.archivePr {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #DADADA;
}
.archivePr.last {
	border-bottom: none;
}
h3.prMeta {
	color: #222;
	font-weight: normal;
	font-size: 14px;
	font-style: italic;
	text-shadow: 0px 0px 0px #000;
}
.headline {
	font-weight: bold;
}

/* Post Attachments - for use with plugin Attachments Pro */
.download.list {
	padding-left: 22px;
	background: url('../images/pdf-icon-small.png') left center no-repeat;
	line-height: 16px;
	margin-bottom: 10px;
	display: block;
}
ul.downloads {
	margin-bottom: 15px; 
	margin-left: 0;
	list-style: none;
}
ul.downloads li {
	list-style: none;
}
ul.downloads li a {
	padding-left: 38px;
	line-height: 32px;
	margin-bottom: 6px;
	display: block;
}
ul.downloads li a.pdf {
	background: url('../images/pdf-icon-large.png') left center no-repeat;
}
ul.downloads li a.doc {
	background: url('../images/doc-icon-large.png') left center no-repeat;
}
ul.downloads li a.img {
	background: url('../images/img-icon-large.png') left center no-repeat;
}

/* Testimonial List */
.testimonialImg {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}
.testimonialInfo {
	float: right;
	width: 400px;
}
.archiveTestimonial {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #DADADA;
}
.archiveTestimonial.last {
	border-bottom: none;
}

/* Testimonial Single */
.testimonial .testimonialImg {
	float: right;
	margin: 0 0 15px 15px;
}
.testimonial .testimonialStars {
	margin-bottom: 8px;
}


/* Employee List */
.archiveEmployee {
	margin-bottom: 8px;
	float: left;
	width:229px;
}
.archiveEmployee.last{
	width:210px;
}
.archiveEmployee .employeeImage {
	width:100%;
	height: 100%;
	overflow:hidden;
}
.archiveEmployee .employeeImage img {
	max-width: 210px;
	height:auto;
}
.archiveEmployee .employeeInfo{
	padding-top:4px;
	width:200px;
}
.archiveEmployee h2{
	font-size:130%;
	margin:4px 0 2px;
}
.archiveEmployee h3{
	font-size:100%;
	margin:1px 0 8px;
	line-height: 14px;
	float:left;
}
.archiveEmployee .linkedIn img{
	width:16px;
	padding: 0 0 0 5px;
}
.archiveEmployees .hr{
	display:block;
	float:left;
	width:100%;
	height:1px;
	margin: 0 0 18px 0;
}
.companyPicture{
	border-bottom: 1px solid #DADADA;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.companyPicture img{
	width:100%;
	height:auto;
}
.mainColumnStyle .archiveEmployees h1 {
	border:0;
	padding-bottom: 18px;
	margin:0;
}

/*.singleEmployee .employeeImage {
	float: left;
	margin-right: 30px;
	margin-bottom: 12px;
}*/
.singleEmployee .employeeImage {
	float: left;
	margin-right: 15px;
	margin-bottom: 12px;
}
.singleEmployee .employeeImage img {
	max-width: 270px;
	height:auto;
}
.singleEmployee .employeeInfo {
	float: left;
	width: 380px;
}

.singleEmployee .employeeInfo h3{
	float:left;
}
.singleEmployee .employeeInfo .linkedIn img{
	max-height:24px;
	padding: 0 0 0 8px;
}
.singleEmployee .caption sub{
	font-size:200%;
	vertical-align: top;
	position:relative;
	top:-3px;
	padding: 0 2px
}
.singleEmployee .employeeInfo p{
	margin-bottom:6px;
}
.singleEmployee .otherInfo{
	padding-bottom:6px;
}
.singleEmployee .employeeBio p{
	margin-bottom:14px;
}


/* Job List */

.jobsImg {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}
.jobInfo {
	float: right;
	width: 500px;
	padding-top: 15px;
}
.archiveJob {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #DADADA;
	position: relative;
}
.archivejob.last {
	border-bottom: none;
}
.jobDetails{
	margin-bottom: 10px;
}
.dateMeta{
	position: absolute;
	bottom: 20px;
	right: 10px;
}
.jobsTable {
	clear: both;
	margin: 25px 0;
}
.jobsTable td {
	margin: 0;
}
.jobsTable thead td {
	font-size: 15px;
	font-weight: bold;
}
.jobsTable tbody td {
	width: 175px;
}
.jobsTable .firstCol {
	width: 200px;
	padding: 8px;
}
.jobsTable .lastCol {
	padding: 8px;
	width: 200px;
}
.jobsTable .firstRow td {
}
.jobsTable .lastRow td {
	border-bottom: none;
}
.jobsTable .odd td {
}

/* Job Single */

.job .jobsImg {
	float: right;
	margin: 0 0 15px 15px;
}
.dateMetaSingle{
	position: absolute;
	top: 1px;
	right: 10px;
}
.pr{
	position: relative;
}
.titleSingle{
	border-bottom: 1px solid #DADADA;
}
.jobsTableSingle {
	clear: both;
	margin: 0 0 15px;
	padding-top: 15px;
}
.jobsTableSingle td {
	margin: 0;
}
.jobsTableSingle thead td {
	font-size: 15px;
	font-weight: bold;
}
.jobsTableSingle tbody td {
	min-width: 120px;
}
.jobsTableSingle .firstCol {
	width: 121px;
	padding: 8px;
}
.jobsTableSingle .lastCol {
	padding: 8px;
	width: 105px;
}
.jobsTableSingle .firstRow td {
}
.jobsTableSingle .lastRow td {
	border-bottom: none;
}
.jobsTableSingle .odd td {
}
/* Free Design Critique */
.theirs {
	width: 290px;
	float: right;
}
.ours {
	float: left;
	width: 340px;
}
.critiqueGraph {
	text-align: center;
	border-bottom: 1px solid #BFBFBF;
	border-top: 1px dotted #BFBFBF;
	margin-bottom: 25px;
	padding-bottom: 10px;
	margin-top: 20px;
	padding-top: 20 px;
}
.compHeader {
	margin-bottom:10px;
}
.compH2 {
	margin-bottom: 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid #BFBFBF;
}
.rollover {
	margin-bottom: 20px;
}
/* WP Pagenavi */
.wp-pagenavi {
	clear: both;
}

.wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	border: 1px solid #BFBFBF;
	padding: 3px 5px;
	margin: 2px;
}

.wp-pagenavi span.current {
	font-weight: bold;
}

/* Pricing Page */
#post-5 li {
	float: left;
	width: 180px;
	margin-right: 20px;
}
#post-5 ul:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.pricingTable {
	clear: both;
	margin: 25px 0;
}
.pricingTable td {
	margin: 0;
}
.pricingTable thead td {
	font-size: 15px;
	font-weight: bold;
}
.pricingTable .firstCol {
	width: 200px;
	padding: 8px;
}
.pricingTable .lastCol {
	padding: 8px;
	text-align: center;
	width: 200px;
}
.pricingTable .firstRow td {
}
.pricingTable .lastRow td {
	border-bottom: none;
}
.pricingTable .odd td {
}

/* Referrals Page */

.referralBox {
	float: left;
	width: 257px;
	height: 275px;
	padding: 15px 25px;
	margin-right: 10px;
	margin-bottom: 25px;
	background-color: #ebebeb;
	border-radius: 10px;
	text-align: center;
}
.referralBox.last {
	margin-right: 0;
}
#referralSend h2 {
	text-align: center;
	margin-bottom: 10px;
}
#referralSend .formFields, #referralSend table {
	margin-bottom: 20px;
}
#referralSend .formLabels {
	margin-left: 72px;
}
#referralSend table {
	clear: both;
}
#referralSend td {
	margin: 0;
}
#referralSend thead td {
	font-size: 15px;
	font-weight: bold;
}
#referralSend table input {
	padding: 3px;
	font-size: 12px;
	display: inline-block;
	border: 1px solid #DADADA;
}
#referralSend .col1, #referralSend .col2 {
	width: 180px;
}
#referralSend .col1 input, #referralSend .col2 input {
	width: 100px;
}
#referralSend table .col3 {
	width: 250px;
	padding: 8px;
	text-align: center;
}
#referralSend .col3 input {
	width: 24px;
}
#referralSend .col3 input.refPhoneExchange {
	width: 32px;
}
#referralSend table .lastCol {
	padding: 8px;
	text-align: center;
	width: 250px;
}
#referralSend .lastCol input {
	width: 175px;
}
#referralSend table .firstRow td {
}
#referralSend table .lastRow td {
}
#referralSend table .odd td {
}
#referralSend .formLabels.refValidate {
	width: 280px;
	margin-left: 50px;
}
#referralSend .formFields.refValidate {
	width: 270px;
}
#referralSend .formLabels .validate {
	text-align: right;
}

.giftcard {
	margin-top: 36px;
}
.or {
	margin-right: 10px;
	float: left;
	margin-top: 140px;
}


/* Colorbox Lightbox */
/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(../images/overlay.png) repeat 0 0;}
#colorbox{}
    #cboxTopLeft{width:21px; height:21px; background:url(../images/controls.png) no-repeat -101px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(../images/controls.png) no-repeat -130px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(../images/controls.png) no-repeat -101px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(../images/controls.png) no-repeat -130px -29px;}
    #cboxMiddleLeft{width:21px; background:url(../images/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(../images/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(../images/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(../images/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-top:28px;padding: 0;}
        #cboxTitle{position:absolute; top:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; top:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; top:0; left:0; background:url(../images/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; top:0; left:27px; background:url(../images/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(../images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(../images/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; top:0; right:0; background:url(../images/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
  Feel free to remove this and the /ie6/ directory if you have dropped IE6 support.
*/
.cboxIE6 #cboxTopLeft{background:url(../images/ie6/borderTopLeft.png);}
.cboxIE6 #cboxTopCenter{background:url(../images/ie6/borderTopCenter.png);}
.cboxIE6 #cboxTopRight{background:url(../images/ie6/borderTopRight.png);}
.cboxIE6 #cboxBottomLeft{background:url(../images/ie6/borderBottomLeft.png);}
.cboxIE6 #cboxBottomCenter{background:url(../images/ie6/borderBottomCenter.png);}
.cboxIE6 #cboxBottomRight{background:url(../images/ie6/borderBottomRight.png);}
.cboxIE6 #cboxMiddleLeft{background:url(../images/ie6/borderMiddleLeft.png);}
.cboxIE6 #cboxMiddleRight{background:url(../images/ie6/borderMiddleRight.png);}

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}
.ngg-galleryoverview {
	margin: 25px 0 0;
}
.galleryLink{
	float: left;
	margin: 0 24px 24px 0;
	height: 113px;
	width: 195px;
	border: 1px solid #CECECE;
	text-align: center;
	cursor: pointer;
}
.galleryLink.last {
	margin-right: 0;
}

.viewerWrap {
	display: block;
	text-align: center;
	height: auto;
	width:800px;
	margin: 0 auto;
	-moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
}
.cardflip {
	position: relative;
	margin: 10px auto -5px;
	max-height:455px;
}
.cardflip img {
	cursor: pointer;
	max-width:800px;
	max-height:450px;
}
.card{
	margin:0 !important;
	max-height:450px;
}
.cards{
	max-height:450px;
}
.infoNote {
	color: #222;
	background: #fdd7ad url('../images/gallery-info.png') 4px 4px no-repeat;
	padding: 10px 10px 10px 36px;
	width: 242px;	text-align: left;
	margin: -6px auto 0;
	-moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
	position: absolute;
	z-index: 1000;
}
#flipNote {
	top: 0;
	left: -7px;
}
#favNote {
	top: 1px;
	right: -7px;
	border: 1px solid #FFF;
	background: #fff;
	width: 114px;
	padding-right: 20px;
	padding-left: 20px;
}
.lightboxTray {
	padding: 0;
}
.trayTop {
	z-index:1;
}
.trayTop h2{
	padding: 8px 10px;
	margin: 0;
}
.trayHeadline {
	float: left;
	color: #FFF;
	margin: 0;
	text-shadow: 0px 0px 0px #000;
	font-weight: normal;
	padding: 10px 50px;
}
.trayCTA {
	float: left;
	text-shadow: 0px 0px 0px #000;
	margin: 0;
	font-weight: normal;
	padding: 7px 10px;
}
.trayArrow{
	background: url('../images/arrow-01.png') 0 10px no-repeat;
	background-size: 142px 90px;
	z-index:1;
	position:absolute;
	top:-35px;
	right: 14px;
	width: 142px;
	height: 105px;
}
.trayForm {
	clear: both;
	text-align: left;
	background: #eaeaea;
	padding:10px 10px 4px;
	z-index:2;
	position:relative;
}
.trayFormInput {
	float: left;
	margin-right: 6px;
	margin-bottom: 10px;
}
	.trayFormInput input {
		margin-right: 6px;
		position:relative;
		z-index:2;
	}
	.trayFormInput input.zip {
		width: 80px;
	}
	.trayFormInput input.suite{
		width: 120px;
	}
	.trayFormInput input.checkbox{
		width:auto;
	}
.trayFormInput.traySubmit{
	float:left;
}
.trayFormInput input.submit{
	width:auto;
	padding: 6px 20px;
	
	text-shadow: 0px 1px 1px rgba(0, 0, 0, .35);
-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
font-weight: 300;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
text-decoration: none;
color: #FFFFFF;
cursor: pointer;
display: inline-block;
text-align: center;
line-height: 1;
position: relative;
border: none;
}
.trayFormInput input.submit.disabled {
	background-color: #b6b6b6;
}
.trayFormInput input.submit:active{
	top: 1px;
}
.trayForm select {
	padding: 3px;
	font-size: 12px;
	border: 1px solid #CECECE;
	width: 150px;
	outline: none;
}
.trayForm input, .trayForm textarea{
	padding: 3px;
	font-size: 12px;
	border: 1px solid #CECECE;
	width: 160px;
	z-index:10;
}
.trayForm .practiceName {
	width: 200px;
}
.trayForm .firstName {
	width: 120;
	margin-right: 5px;
}
.trayForm .lastName {
	width: 120px;
}
.trayForm .phone {
	margin-left: 0;
	margin-right: 0;
}
.trayForm .phoneArea,
.trayForm .phonePrefix,
.trayForm .phoneExchange {
	margin: 0;
	width: 24px;
}
.trayForm .phoneExchange,
.landingPageForm .phoneExchange {
	width: 32px;
}
.trayForm .validate input {
	width: 25px;
	margin-right: 5px;
	padding: 6px 8px 6px 8px;
	display: inline-block;
}
.trayForm .check-status {
	padding: 3px 7px;
	width: 135px;
	display: inline-block;
}
.trayForm .check-status-error {
	border: 2px solid red;
	background: #FFCFCF 4px center url('../images/form-validation-error-small.png') no-repeat;
	padding-left: 30px;
}
.trayForm .check-status-success {
	border: 2px solid green;
	background: #b3f6b3 4px center url('../images/form-validation-good-small.png') no-repeat;
	padding-left: 30px;
}
.trayForm .reserve input {
	width: auto;
	display: inline;
}
.trayForm .reserve-show {
	clear: both;
}
.trayForm .city {
	margin-bottom: 8px;
}
.trayForm .statesDropdown {
	width: 60px;
}
.trayForm .zip {
	width: 80px;
}


/* Contact Page */

#contactInfo {
	padding-bottom: 22px;
}
#contactInfo table{
	float: left;
	width: 100%;
}
h3.contact-head {
	margin-bottom: 5px;
}
#mapFrame {
	float: right;
	padding-left: 14px;
}

/* One Column page template */
.page-template-one-column-php #columnWrapper,
.page-template-dental-town-blast-php #columnWrapper,
.page-template-dental-town-blast-jan-2013-php #columnWrapper,
.page-template-dental-town-blast-feb-2013-php #columnWrapper,
.page-template-dental-town-blast-apr-2013-php #columnWrapper,
.page-template-dental-town-blast-jun-2013-php #columnWrapper,
.page-template-dental-town-blast-jun-2013-videos-php #columnWrapper,
.page-template-dental-town-blast-july-2013-php #columnWrapper,
.page-template-dental-town-blast-july-2013-videos-php #columnWrapper
{
	background-image: none;
}
.page-template-one-column-php #mainColumn,
.page-template-dental-town-blast-php #mainColumn,
.page-template-dental-town-blast-jan-2013-php #mainColumn,
.page-template-dental-town-blast-feb-2013-php #mainColumn,
.page-template-dental-town-blast-apr-2013-php #mainColumn,
.page-template-dental-town-blast-jun-2013-php #mainColumn,
.page-template-dental-town-blast-jun-2013-videos-php #mainColumn,
.page-template-dental-town-blast-july-2013-php #mainColumn,
.page-template-dental-town-blast-july-2013-videos-php #mainColumn
{
	width: 1000px;
	padding: 25px 0;
	text-align: center;
}
.page-template-one-column-php #mainColumn h1,
.page-template-dental-town-blast-php #mainColumn h1,
.page-template-dental-town-blast-jan-2013-php #mainColumn h1,
.page-template-dental-town-blast-feb-2013-php #mainColumn h1,
.page-template-dental-town-blast-apr-2013-php #mainColumn h1,
.page-template-dental-town-blast-jun-2013-php #mainColumn h1,
.page-template-dental-town-blast-jun-2013-videos-php #mainColumn h1,
.page-template-dental-town-blast-july-2013-php #mainColumn h1,
.page-template-dental-town-blast-july-2013-videos-php #mainColumn h1
{
	font-size: 44px;
	color: #525151;
	line-height: 54px;
	margin-top: 10px;
}
.page-template-one-column-php #mainColumn h1 span,
.page-template-dental-town-blast-jan-2013-php #mainColumn h1 span,
.page-template-dental-town-blast-feb-2013-php #mainColumn h1 span,
.page-template-dental-town-blast-apr-2013-php #mainColumn h1 span,
.page-template-dental-town-blast-jun-2013-php #mainColumn h1 span,
.page-template-dental-town-blast-jun-2013-videos-php #mainColumn h1 span,
.page-template-dental-town-blast-july-2013-php #mainColumn h1 span,
.page-template-dental-town-blast-july-2013-videos-php #mainColumn h1 span {
	font-size: 72px;
}
.page-template-one-column-php #mainColumn h2,
.page-template-dental-town-blast-php #mainColumn h2,
.page-template-dental-town-blast-jan-2013-php #mainColumn h2,
.page-template-dental-town-blast-feb-2013-php #mainColumn h2,
.page-template-dental-town-blast-apr-2013-php #mainColumn h2,
.page-template-dental-town-blast-jun-2013-php #mainColumn h2,
.page-template-dental-town-blast-jun-2013-videos-php #mainColumn h2,
.page-template-dental-town-blast-july-2013-php #mainColumn h2,
.page-template-dental-town-blast-july-2013-videos-php #mainColumn h2
{
	font-size: 1.8em;
	line-height: 1.2em;
}
p.finePrint {
	font-size: 11px;
}
#landingPageForm {
	position: relative;
}
.landingPageForm {
	margin: 0 auto 15px auto;
	text-align: left;
}
.landingPageForm td {
	padding: 6px;
}
.landingPageForm input[type="checkbox"] {
	width: auto;
	padding-right:15px;
}
.three-column .col1 {
	text-align: right;
	width: 70px;
}
.three-column .col2 {
	text-align: left;
	width: 160px;
}
.three-column .ajax-loader {
	display: block;
	margin: 10px auto 0 auto;
}
.landingPageForm input {
	width: 150px;
	padding: 4px;
	border: 1px solid #DADADA;
}
.three-column {
	width: 323px;
	margin: 15px 0 15px 5px;
	padding-right: 5px;
	float: left;
}
.two-column {
	width:470px;
	float:left;
	text-align:left;
	padding: 0 15px 15px 15px;
}

#ppc_conversion {
	display: none;
	visibility: hidden;
}

.orange-accent {
	-webkit-box-shadow: 0 0px 7px 2px rgba(0, 0, 0, .65);
	-moz-box-shadow: 0 0px 7px 2px rgba(0, 0, 0, .65);
	box-shadow: 0 0px 7px 2px rgba(0, 0, 0, .65);
	color: #fff;
	padding: 15px 0 0 0;
	
}
/* ============================== END CUSTOM ============================== */

/* ============================== BEGIN HOMEPAGE BANNER =================== */
#content-newBanner{
	display:block;
	width:100%;
	padding: 31px 0;
	border-top: 1px solid #fff;
	overflow: hidden;
	box-shadow: 0 0px 4px rgba(0, 0, 0, .85);
	-webkit-box-shadow: inset 0 0px 4px rgba(0, 0, 0, .85);
	-moz-box-shadow: 0 0px 4px rgba(0, 0, 0, .85);
}
.main-quote{
	display:block;
	width: 100%;
	position: relative;
	z-index: 4;
}
.main-quote img{
	max-width: 1000px;
	margin: 0 auto;
	display: block;
	padding-bottom: 28px;
}

.bannerBoxWrapper{
	height:197px;
	display:block;
	width:780px;
	margin: 0 auto;
	position: relative;
	z-index: 5;
}
.bannerBox{
	box-shadow:0 1px 1px rgba(0, 0, 0, .65);
   -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, .65);
   -moz-box-shadow:0 1px 1px rgba(0, 0, 0, .65);
	display:block;
	width:228px;
	height:194px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin: 0 16px;
	float:left;
}
.bannerBox a {
	float:left;
}
.bannerBox a:hover {
	text-decoration: none;
}

.bBoxImg{
	display:block;
	width:200px;
	height:106px;
	overflow: hidden;
	margin: 14px 14px 8px;
}
.bBoxImg img{
	width:200px;
}
.bBoxHeading{
	display:block;
	width:auto;
	height:auto;
	text-align:center;
	font-size:20px;
	text-transform:uppercase;
	color:#fff;
	margin-bottom: 2px;
}
.bBoxSub{
	display:block;
	color: #fff;
	width:auto;
	height:auto;
	text-align:center;
	font-size:9px;
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
	margin-top:2px;
	padding: 0 14px 14px;
}
/* ============================== END HOMEPAGE BANNER ======================*/

/*sidebar Nav*/
.menu-sidebar-nav-container{
	display:block;
	margin-top:10px;
	
}
.menu-sidebar-nav-container ul {
    margin-right: 25px;
    margin-left: 10px;
	margin-bottom:10px;
}
.menu-sidebar-nav-container > ul > li > a {
  font-size: 16px;
  display:block	;
  background-repeat: no-repeat;
  background: url('http://stage.dentalmarketing.net/wp-content/themes/invisible-hand/images/arrow.png') no-repeat;
  background-position: right center;
	margin-bottom:10px;
	}
.menu-sidebar-nav-container > ul > li .sub-menu { display:none }
.sub-menu > li{
	padding-top:2px;	
	padding-bottom:5px;
}
.sub-menu > li > a {
	color:#000;		
}

.sub-menu>li:hover>a{
	color:#666;
	text-decoration: none;
}


.staff-caoching-nav{
	display:block;
	margin-top:10px;	
}
.staff-caoching-nav > ul > li > a {
  background-repeat: no-repeat;
  background: url('http://stage.dentalmarketing.net/wp-content/themes/invisible-hand/images/arrow.png') no-repeat;
  background-position: right center;
	margin-bottom:10px;
}
.staff-caoching-nav ul {
	margin: 0 25px 10px 10px;
}
.staff-caoching-nav ul.sideBoxes{
	display: inline-block;
	margin: 10px 20px;
}
.sideBoxes .bannerBox{
	margin: 10px 15px;
}
.staff-caoching-nav > ul > li > a {
    font-size: 16px;
    display:block	
	}
.staff-caoching-nav > ul > li .sub-menu-coahing{ display:none }
.sub-menu-coahing > li{
	padding-top:2px;	
	padding-bottom:5px;
}

/*side bar nav ends*/
.notification-design-gallery {
	width: 620px;
	margin-bottom: 20px;
	font-weight: bold;
	font-style: italic;
	padding: 10px;
	color: #FFF;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

/*=============== VIDEO GALLERY ===============*/
.videoCategory{
	padding: 20px 0;
	display: inline-block;
}
.categoryTitle {
	display:block;
	float:left;
	width: 100%;
	font-size: 260%;
	font-weight:300;
}
.videoCategory{
	float:left;
	width: 100%;
}
.archiveVideosWrapper{
	width: 47%;
	float: left;
	background: transparent;
	padding: 8px;
	margin: 2px;
	position: relative;
	overflow:hidden;
}
.archiveVideosWrapper:hover{
	background: #c4c4c4;
}
.archiveVideosWrapper h3{
	color: #fff;
	background: #393939;
	padding: 4px 10px;
	margin: 0;
	z-index: 1;
	position: relative;
}
.archiveVideosWrapper h3 span{
	font-size: 70%;
	padding: 4px 8px;
}
.archiveVideosWrapper a.videoImg{
	float:left;
	width: 100%;
	height: 212px;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
}
.archiveVideosWrapper a.videoImg:hover{
	text-decoration:none;
}
.archiveVideosWrapper a.videoImg img{
	width: 100%;
	height: auto;
	margin-top: -28px;
	z-index: 0;
}

















