/*
Theme Name: Invisible Hand
Theme URI: http://www.invisiblehandmarketing.com
Description: Custom theme developed by Invisible Hand Marketing
Author: Invisible Hand - Mark Delorey
Author URI: http://www.invisiblehandmarketing.com
Version: 0.1
Tags: invisiblehand
*/

@import url('reset.css');

@font-face {
	font-family: 'icomoon';
	src:url('../inc/fonts/icomoon/icomoon.eot?o8jqym');
	src:url('../inc/fonts/icomoon/icomoon.eot?#iefixo8jqym') format('embedded-opentype'),
		url('../inc/fonts/icomoon/icomoon.woff?o8jqym') format('woff'),
		url('../inc/fonts/icomoon/icomoon.ttf?o8jqym') format('truetype'),
		url('../inc/fonts/icomoon/icomoon.svg?o8jqym#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*
@font-face {
	font-family: 'icons';
	src:url('fonts/icons/icons.eot?ucz5k');
	src:url('fonts/icons/icons.eot?#iefixucz5k') format('embedded-opentype'),
		url('fonts/icons/icons.woff?ucz5k') format('woff'),
		url('fonts/icons/icons.ttf?ucz5k') format('truetype'),
		url('fonts/icons/icons.svg?ucz5k#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Archive';
    src: url('fonts/archive/archive-webfont.eot');
    src: url('fonts/archive/archive-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/archive/archive-webfont.woff') format('woff'),
         url('fonts/archive/archive-webfont.ttf') format('truetype'),
         url('fonts/archive/archive-webfont.svg#archiveregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Code Bold';
    src: url('fonts/code/code_bold-webfont.eot');
    src: url('fonts/code/code_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/code/code_bold-webfont.woff') format('woff'),
         url('fonts/code/code_bold-webfont.ttf') format('truetype'),
         url('fonts/code/code_bold-webfont.svg#archiveregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Code Light';
    src: url('fonts/code/code_light-webfont.eot');
    src: url('fonts/code/code_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/code/code_light-webfont.woff') format('woff'),
         url('fonts/code/code_light-webfont.ttf') format('truetype'),
         url('fonts/code/code_light-webfont.svg#archiveregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nevis';
    src: url('fonts/nevis/nevis.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/

/******** BASIC STYLES ********/
body {
	font-family: helvetica, arial, sans-serif;
	font-size: 18px;
	padding-bottom: 25px;
	font-weight: 100;
}
h1, h2, h3, h4 {
	font-family: 'Open Sans', Arial, sans-serif;
}
h1{
	font-size: 3.6em;
	padding: 10px 0 30px;
	font-weight: 300;
}
h2{
	font-size:2.6em;
	padding: 30px 0;
	font-weight: 100;
}
h3{
	font-size:2em;
	padding: 14px 0;
	font-weight: 100;
}
h4{
	font-size:1.6em;
	padding: 12px 0;
	font-weight: 100;
}
p {
	padding-bottom: 16px;
	line-height: 1.4em;
}
.mainColumn ul, .mainColumn ol {
	margin-left: 28px;
}
.mainColumn h1 {
	line-height:1em;
}
.container{
	position: relative;
	padding-top: 202px;
}
.bold {
	font-weight: bold;
}
.alignright {float: right;}
.alignleft {float: left;}
.center{
	max-width: 1260px;
	margin: 0 auto;
}
.center.sub{
	max-width: 1120px;
	padding: 0 12px;
	box-sizing: border-box;
}
.center.sub.wide {
	max-width: 1680px;
}
.lightGrayBG {
	background: #F7F7F7;
}
.blueBG {
	background: #4378a3 url('../images/backgrounds/washouts/dentist-office-blue.jpg') center repeat-x;
}
.blueBG h1, .blueBG h2, .blueBG h3, .blueBG label {
	color: #fff;
}
.orangeBG {
	background: #f09720;
}
.darkGrayBG {
	background: #393939;
}
.darkBG, .darkBG h1, .darkBG h2, .darkBG h3{
	color: #fff;
}
/* center block elements without width */
	.outer-center {
	    float: right;
	    right: 50%;
	    position: relative;
	}
	.inner-center {
	    float: right;
	    right: -50%;
	    position: relative;
	}
.clear{clear:both;margin:0;padding:0;}

/*==== menus ====*/
/*==== icons ====*/

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
/* 	font-weight: normal; */
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-gallery:before {
	content: "\e605";
}
.icon-coin:before {
	content: "\e606";
}
.icon-menu:before {
	content: "\e600";
}
.icon-stats:before {
	content: "\e608";
}
.icon-bars:before {
	content: "\e609";
}
.icon-bubble:before {
	content: "\e607";
}
.icon-send:before {
/* 	content: "\e60b"; */
	content: "airplane";
}
.icon-close:before {
	content: "\e60a";
}
.icon-check:before {
	content: "\e601";
}
.icon-openq:before {
	content: "\e604";
}
.icon-closeq:before {
	content: "\e603";
}
/*
	.icon-quotes:before {
		content: "\e604";
		float: left;
		padding-right: .5em;
	}
	.icon-quotes:after {
		content: "\e603";
		float: right;
		padding-left: .5em;
	}
*/
.button span.icon{
	padding-right: 10px;
	vertical-align: middle;
}
.button span.btnText{
	vertical-align: middle;
}
.introVideoButtons a span.icon{
	font-size: 180%;
	color: #f09720;
}

[data-icon]:before {
  font-family: 'icons';
  content: attr(data-icon);
  position: relative;
  top: 2px;
  right: 2px;
  speak: none;
  font-style: normal;
}



/******** SECTIONS ********/
.section {
	clear: both;
}
.sectionWrapper {
	padding: 3% 10px;
}
.section h2.sectionHeader{
	text-align: center;
	padding: 6px 0 30px;
}
/*------ topSecion ------*/
.topSection {
	background: #393939;
}
.topSection .center {
	position: relative;
}
/*------ featuredSection ------*/
.featuredSection{
	position: relative;
	background: #363636;
}
	.featuredSection .introVideo iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	}
	.featuredSection .sectionWrapper {
		padding: 0;
		overflow: hidden;
		background: #363636;
/* 		background: url('http://localhost/dm_responsive/wp-content/themes/responsive/images/banners/fossum_b.png') center top no-repeat; */
	}
	.featuredSection .center {
		z-index: 1;
		position: relative;
	}
.featuredTestBG {
	position: relative;
	z-index: 0;
	width: 100%;
}
.nivo-caption-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	float: right;
	z-index: 8;
	width: 101%;
	margin-right: -0.5%;
	margin-left: -0.5%;
	height: 100%;
	box-shadow: 0 0px 3px rgba(0, 0, 0, .85);
	-webkit-box-shadow: inset 0 0px 3px rgba(0, 0, 0, .85);
	-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, .85);
}
.nivo-caption {
	width: 100%;
	max-width: 1240px;
	margin:0 auto;
}

.slider-wrapper {
	max-height: 500px;
	display:inline-block;
  margin-right:-100%;
	font-size:18px;
}
.sliderWrapperWrapper {
	position: relative;
	right: 50%;
	text-align: center;
	font-size: 0;
}
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
	background-color: #222;
	background-repeat: no-repeat;
}
.nivo-main-image img{
	visibility: hidden;
}


.featuredContent {
	padding: 2.75% 10px;
	line-height: 1;
	text-align: right;
	float: right;
	width: 100%;
}
.featuredContent .featuredTestInfo {
	font-weight: 900;
		padding: 20px 0;
}
.featuredContent .featuredTestimonial {
	display: inline-block;
	padding: 12px 0;
	color: #fff;
}
.featuredContent .featuredTestBy {
	font-size: 1em;
	color: #bbb;
	padding: 0 25px;
	text-transform: uppercase;
}
.section .featuredContent .button.large{
	float: right;
	background: #f09720;
		margin-top: 4%;
}
.featuredContent .featuredLogo img {
	max-width: 20%;
	margin-right: 2%;
	position: relative;
}
.featuredFiller {
	max-width: 1240px;
	margin: 0 auto;
}
.featuredFiller .featuredContent {
	padding: 2.75% 10px;
}
/*-- FOSSUM --*/
	.featuredContent.fossum {
	}
	.featuredContent.fossum .featuredTestInfo {
		font-size: 3.2em;
	}
	.featuredContent.fossum .featuredTestimonial {
		font-size: 2em;
	}
	.featuredContent.fossum .featuredLogo img {
		top: -12px;
	}
/*-- RIVERROCK --*/
	.featuredContent.riverrock {
	}
	.featuredContent.riverrock .featuredTestInfo {
		font-size: 2.6em;
	}
	.featuredContent.riverrock .featuredTestimonial {
		font-size: 1.8em;
		width: 60%;
		max-width: 640px;
	}
	.featuredContent.riverrock .featuredLogo img {
		top: 13px;
	}
/*-- SEDALIA --*/
	.featuredContent.sedalia {
	}
	.featuredContent.sedalia .featuredTestInfo {
		font-size: 2.8em;
	}
	.featuredContent.sedalia .featuredTestimonial {
		font-size: 2em;
	}
	.featuredContent.sedalia .featuredLogo img {
/* 		max-width: 35.769231%; */
		top: 19px;
	}

/*------ footerSection ------*/
#siteLinks ul {
	margin: 0;
	padding: 0;
	line-height: normal;
}

/*------ introVideoSection ------*/
.introVideoSection{
	background: url('../images/backgrounds/patterns/blue_linen2.png') center top repeat;
/* 	background: #4378a3 url('../images/backgrounds/washouts/dentist-office2-blue.jpg') center repeat-x; */
}
.introVideoLeft {
	float: left;
	width: 63.492063492%;
	max-width: 800px;
}
.introVideoWrapper{
	top: 0;
	left: 0;
	width: 92.4%;
	padding: 0 3.8%;
	z-index: 3;
}
.introVideo{
	position: relative;
	/* make video responsive */
  padding-bottom: 56.25%; /* 16/9 ratio */
  padding-top: 30px; /* IE6 workaround*/
  height: 0;
  overflow: hidden;
}
.introVideo iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.introVideoButtons {
	width: 92.4%;
	padding: 0 3.8%;
	margin: 18px 0 0;
	float: left;
}
.introVideoButtons a.button{
/* 	background: #f09720; */
/* 	background: #333; */
	background: transparent;
}
.introVideoButtons a span.btnText{
	border-bottom: 2px solid #fff;
}
.introVideoButtons a.button.large{
	margin: 0 0 18px;
	padding: 0;
	font-size: 1.8em;
}
.introVideoButtons a.button.large.first{
/* 	margin-right:4%; */
	float: left;
}
.introVideoButtons a.button.large.second{
	float: right;
}

/*------ ourProcessSection ------*/

.ourProcessSection {
/*  background: url('../images/backgrounds/washouts/dentist-office-white.jpg') center repeat-x; */
}
.homeProcess {
	float: left;
	width: 70%;
	padding: 20px 2%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*---- homeTestimonials ----*/
.archiveTestimonial {
	width: 30.6%;
}
.archive_4 {
	display: none;
}

/*------ gallerySection ------*/
.homeGallery .galleryThumbs {
	float: left;
	width: 100%;
}

.pcGallery .sectionWrapper {
	padding-top: 0;
}
	.homeGallery .galleryThumbs .thumbWrapper {
		width: 29.33333333333%;
		padding: 2%; /*14px*/
		float: left;
	}
	.homeGallery .galleryThumbs .thumb img {
		width: 100%;
	}
	
/*------ roiCalculatorSection ------*/
.roiCalculatorSeciton.section .button.large{
	margin: 18px 0;
}

/*------ ctaSection ------*/
.ctaSection {
	text-align: center;
}
.ctaSection .sectionWrapper {
	padding: 1% 10px;
}
.ctaSection a {
	padding: 20px;
	font-size: 1.8em;
	font-weight: 100;
	color: #f09720;
	text-decoration: none;
	display: inline-block;
}
.ctaSection a span {
	vertical-align: middle;
}
.ctaSection a span.icon {
	font-size: 180%;
	padding-right: 10px;
}
.ctaSection h1 {
	color: #4378a3;
	padding: 30px 0;
}

/******** SUB PAGE ********/
.subHeader {
	background: #4378a3 url('../images/backgrounds/washouts/dentist-office-blue.jpg') center repeat-x;
	padding: 20px 12px;
}
.subHeader h1, .subHeader h2{
	color: #fff;
	padding: 0;
	margin: 12px 0;
}
.subHeader h1{
	font-weight: bold;
}
.attachment-post-thumbnail {
	display: block;
	margin: 0 auto 40px;
	max-width: 100%;
	height: auto;
}
/*-- video gallery --*/
.videoCategory {
	float: left;
	margin-bottom: 20px;
}
.videoCategory h2{
	padding: 2px 0 12px;
}
/*-- testimonial --*/
/*-- FAQ --*/
/*-- contact --*/
.contactPage .subHeader {
	background: #f3f3f3 url('../images/backgrounds/washouts/dentist-office-white.jpg') center repeat-x;
}
.contactPage .subHeader h1{
	color: #4378a3;
}
.contactPage .subHeader h2{
	color: #333;
}
/*-- pricing --*/
.pricingTable {
	width: 100%;
	max-width: 1100px;
	margin: 20px auto;
	text-align: center;
}
.pricingTable thead{
	color: #fff;
	font-size: 200%;
	border-left: 1px
}
.pricingTable thead tr th{
	background: #585858;
}
.pricingTable thead tr th{
	padding: 16px 12px;
	font-weight: 100;
}
.pricingTable thead tr th.noBG{
	background: inherit;
}
.pricingTable tr.light{
	background: #f3f3f3;
}
.pricingTable tr.dark{
	background: #e6e6e6;
}
.pricingTable tr.light td.first {
	background: #f9f9f9;
}
.pricingTable tr.dark td.first{
	background: #f1f1f1;
}
.pricingTable td, .pricingTable th{
	padding: 10px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.pricingTable td.first, .pricingTable th.first{
	width: auto;
	text-align: left;
}
.pricingTable .pricingBtns a{
	margin: 0 auto;
	width: 70%;
}
.pricingVids td {
	position: relative;
}
.pricingVids .imgWrap {
	overflow: hidden;
	/* height: 179px; */
	height: 25.571428571%;
}
.pricingVids .imgWrapOverlay {
	position: absolute;
	top: 0;
	left: 0;
	padding: 8px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.pricingVids .imgWrapOverlay img{
	width: 24.4844720496%;
	padding: 19% 37.7577639752%;
	opacity: 0.5;
}
.pricingVids .imgWrapOverlay img:hover{
	background: #fff;
	opacity: 0.6;
}
.pricingVids .imgWrap img {
	width: 100%;
	height: auto;
	margin-top: -9.627329192%;
	margin-bottom: -10.248447205%;
}
.subTable {
	font-size: 80%;
	text-align: right;
}
.checked {
	color: #3a852b;
}

/* Postcard Pricing Table */
.pcPricingTable td, .pcPricingTable th{
	width: 25%;
}
.pcPricingTable thead tr th.second{
	background: #f09720;
	background: #4378a3;
}
.pcPricingTable tr.light td.second{
	background: #FFEED8;
}
.pcPricingTable tr.dark td.second{
	background: #F7DFBE;
}
.pcPricingTable thead img {
	width: 90%;
	max-width: 190px;
}
.pcPricingTable .pricingRow td {
	padding: 19px 10px;
	border-top: 4px solid white;
	font-size: 125%;
}

/* Sub Postcard Pricing Table */
.subPricingTable{
	text-align: center;
}
.subPricingTable thead {
	font-size: 165%;
}
.subPricingTable table{
	width: 100%;
	max-width: 530px;
	margin: 24px auto;
	text-align: center;
}
.subPricingTable td{
	padding: 10px;
	width: 50%;
}
.subPricingTable .first {
	border-right: 1px solid #585858;
}

/* Video Pricing Table */
.vPricingTable td, .vPricingTable th{
	width: 38%;
}
.vPricingTable thead tr th.bnw{
	background: #4E4E4E;
}
.vPricingTable thead tr th.color{
	background: #295890;
}

/* Products */
.productsContent .left{
	float: left;
/* 	padding-right: 20px; */
}
.productsContent .right{
	float: right;
}
.productsContent .product {
	margin-bottom: 50px;
}
.productsContent h2 {
	padding: 0 0 10px;
/*
	color: #6D97BB;
	color: #426B8F;
*/
}
.productsContent img {
	float: left;
/* 	padding-left: 20px; */
	padding-right: 20px;
}
.productsContent .button {
	float: right;
	/* width: 171px; */
	float: left;
	background: #fff;
	color: #4378a3;
	/* border: 1px solid #4378a3; */
	/* color: #f09720; */
	/* border: 1px solid #f09720; */
	/* background: #f09720; */
	padding: 0;
	margin: 0;
	font-size: 130%;
	text-decoration: underline;
	color: #6D97BB;
}

/******** FORMS ********/

/*-- homeForm --*/
.contactForm {
	width: 100%;
	max-width: 560px;
	margin: 0 auto;
}
.contactForm.homeForm{
	width: 34.9%;
	max-width: 420px;
	float: right;
	padding-left: 0.904761904%; /*24px;*/
	padding: 0;
}
.contactForm input, .contactForm textarea {
	width: 100%;
	padding: 2.5%;
	margin: 0;
	font-size: 16px;
	border: 1px solid #C5C5C5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.contactForm.homeForm input, .contactForm.homeForm textarea {
	border: 0;
	padding: 2.3333%;
}
.contactForm textarea{
	height: 120px;
}
.contactForm.homeForm textarea{
	height: 103px;
}
.contactForm .phone{
	font-size: 16px;
}
.contactForm h3 {
	font-size: 2.4em;
	text-align: center;
	padding: 0 0 14px;
}
.contactForm.homeForm h3 {
	font-size: 1.8em;
	padding: 0 0 9px;
	color: #fff;
}
.contactForm label{
	font-size: 16px;
	font-weight: 100;
	margin-bottom:12px;
	line-height: 22px;
}
.contactForm input.submit{
	padding: 4.9%;
	font-size: 24px;
	font-weight: 100;
	border: 0;
	margin-top: 11px;
	cursor: pointer;
	box-shadow: none;
	text-shadow: none;
}
.contactForm.subForm input.submit{
	background: #f09720;
}
.contactForm p{
	padding-bottom: 8px;
}

.contactForm .name input {
	width: 49%; /* 243px; */
}
.contactForm .name input.firstName {
	margin-right: 2%; /* 10px; */
}
.contactForm input.phoneArea, .contactForm input.phonePrefix{
	width: 26%;
}
.contactForm input.phoneArea{
	margin-right: 1%; /* 5px; */
}
.contactForm input.phonePrefix{
	margin: 0 1%; /* 5px; */
}
.contactForm input.phoneExchange{
	width: 44%;
	margin-left: 1%; /* 5px; */
}
.homeForm .submitWrapper {
	position: inherit;
}
.formBody{
	font-size: 0; /* removes 2px gap between input fields */
}



#topNav .topTabs ul li{
	min-width: 120px;
}

input[type=submit], input.submit {
	font-family: 'Open Sans', Arial, sans-serif;
	line-height: 1;
	color: #FFFFFF;
}

#container {
	position: relative;
	padding-top: 242px;
}
.home #container {
	padding-top: 172px;
}

/* ============================== BEGIN NAVIGATION ============================== */

	/* ====== BEGIN MAIN NAVIGATION ======= */
	#navigationWrapper {
		position: absolute;
		top: 116px;
		left: 0;
		height: 54px;
		z-index: 100;
		font-size: 15px;
		width: 100%;
		border-bottom: 1px solid #fff;
		font-weight: 300;
	}
	#navWrap {
		width: 100%;
		max-width: 1100px;
		margin: 0 auto;
	}
	.navigationStyle ul.menu {
		text-align: left;
		padding: 0;
		font-size:0;
	}
	.navigationStyle .menu>li {
		position: relative;
		display:inline-block;
		padding: 18px 0;
		margin: 0;
	}
	.navigationStyle .menu>li>a {
		padding: 18px 15px;
		height: 15px;
		font-size: 16px;
		font-weight:300;
	}
	.navigationStyle .menu a span {
		float: right;
		font-size: 120%;
		line-height: 100%;
	}
	.navigationStyle .menu>li.has-children {
		padding-right: 14px;
	}
	
		/* Normal */
		.navigationStyle .menu>li>a:link, 
		.navigationStyle .menu>li>a:visited,
		.navigationStyle .menu>li>a:active { 
			color: #FFFFFF;
			text-decoration: none;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, .35);
		}
		
		/* Hover */
		.navigationStyle .menu>li:hover>a {
			text-shadow: 1px 1px 2px rgba(0, 0, 0, .75);
		}
		
		/* ====== MAIN NAVIGATION DROPDOWN MENUS ======= */
		.navigationStyle .sub-menu {
			display: none;
			position: absolute;
			top: 54px;
			left: -2px;
			height: auto;
			width: 210px;
			border: 2px solid #FFF;
			z-index: 5;
			font-size: 13px;
			-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
			-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
			box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
		}
		.navigationStyle .has-children:hover > .sub-menu {
			display: block;
		}
		.navigationStyle .sub-menu>li {
			display: block;
			position: relative;
			float: left;
			margin: 0;
			padding: 0;
			width: 210px;
			height: auto;
			z-index: 5;
		}
		.navigationStyle .sub-menu>li>a {
			display: block;
			float: none;
			margin: 0;
			padding: 10px;
			height: auto;
			text-align: left;
		}
		
		/* Normal */
		.navigationStyle .sub-menu>li>a {
			color: #FFF;
			text-decoration: none;
		}
		
		/* Hover */
		.navigationStyle .sub-menu>li:hover>a {
			text-decoration: none;
		color: #efefef;
		}
					
		/* ====== END MAIN NAVIGATION DROPDOWNS ======= */
		
		/* ====== MAIN NAVIGATION THIRD LEVEL ======= */
		.navigationStyle .sub-menu .sub-menu {
			top: 0;
			left: 210px;
		}
		.navigationStyle .sub-menu.hover {
			display: block;
		}
		.navigationStyle .sub-menu>li {
			display: block;
			float: left;
			margin: 0;
			padding: 0;
			width: 210px;
			height: auto;
			z-index: 5;
		}
		.navigationStyle .sub-menu>li>a {
			display: block;
			float: none;
			margin: 0;
			padding: 8px;
			height: auto;
			text-align: left;
		}
	
	/* ===== BREADCRUMBS ===== */
		
	#breadcrumbsWrapper {
		position: absolute;
		top: 172px;
		left: 0;
		z-index: 1;
		font-size: 15px;
		width: 100%;
	}
		#breadcrumbs {
			color: #FFF;
			font-size: 12px;
			width: 100%;
			max-width: 1100px;
			margin: 8px auto;
			text-align: left;
		}
		#breadcrumbs a {
			color: #FFF;
			margin-left: 8px;
		}
			
		/* ====== END MAIN NAVIGATION THIRD LEVEL ======= */
	
	/* ====== END MAIN NAVIGATION ======= */
	
	/* ====== BEGIN TOP NAVIGATION ======= */
	#topNav {
		position: absolute;
		top: 0;
		right: -12px;
		height: 38px;
		text-align: center;
		width: 638px;
		z-index: 2;
		font-size: 12px;
		padding: 0 0 0 35px;
		background: url('../images/top-nav-collection.jpg') right no-repeat;
	}
	#topNav .topTabs {
	}
	#topNav li {
		float: left;
		position: relative;
		list-style-type: none;
	}
	#topNav li a{
		padding: 14px 10px;
		display: block;
	}
	#topNav .sub-menu li a{
		padding: 6px 8px;
	}
	#topNav li.menu-item a > span {
		position:relative;
		right: -6px;
	}
	#topNav .topTabs {
		float: left;
		width: 292px;
		background: url('../images/top-nav-sections.jpg') no-repeat;
	}
	#topNav .topTabs ul {
		padding-left:19px;
	}
	#topNav .topTabs li a{
		padding: 14px 26px;
	}
	#topNav .topTabs li.menu-item-1610 a{
		padding: 14px 35px;
	}
	.topNavStyle .menu li.has-children {
		padding-right: 5px;
	}
	.topNavStyle .menu li.has-children>a {
		padding-right: 15px;
	}
	
		/* Normal */
		.topNavStyle .menu>li>a { 
			color: #fff;
			text-decoration: none;
		}
		
		/* Hover */
		.topNavStyle .menu>li:hover>a {
			text-decoration: none;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, .35);
		}
				
	/* ====== TOP NAVIGATION DROPDOWN MENUS ======= */
	.topNavStyle .sub-menu {
		display: none;
		position: absolute;
		top: 37px;
		left: 0;
		height: auto;
		width: 142px;
		background-color: #56514b;
		border: 1px solid #FFF;
		z-index: 5;
		font-size: 13px;
		-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
		box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
	}
	.topNavStyle .last .sub-menu {
		left: auto;
		right: -13px;
	}
	.topNavStyle .sub-menu.hover {
		display: block;
	}
	.topNavStyle .sub-menu>li {
		display: block;
		float: left;
		margin: 0;
		padding: 0;
		width: 140px;
		height: auto;
		z-index: 5;
	}
	.topNavStyle .sub-menu>li>a {
		display: block;
		float: none;
		margin: 0;
		padding: 10px;
		height: auto;
		text-align: left;
	}
	
		/* Normal */
		.topNavStyle .sub-menu>li>a {
			color: #DADADA;
			text-decoration: none;
		}
		
		/* Hover */
		.topNavStyle .sub-menu>li:hover>a{
			color: #FFF;
			text-decoration: none;
		}
		
	/*===== BEGIN MOBILE MAIN NAVIGATION =====*/
	.mobileMenuBtn{
		display: none;
		padding: 12px;
		color: #4378a3;
		float: right;
		font-size: 1.4em;
		cursor: pointer;
	}
	.mobileMenuBtn span {
		font-size: 1.2em;
		position: relative;
		top: 3px;
		right: 3px;
	}
	.mobileMenuWrapper {
		display:none;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 9999999999;
		width: 100%;
		padding: 12px 10%;
		box-sizing: border-box;
	}
	.mobileMenu {
		background: #fff;
		box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
		position: relative;
		color: #4378a3;
	}
	.mobileMenu div.close {
		position: absolute;
		background: #fff;
		box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
		padding: 10px;
		font-size: 80%;
		top:-8px;
		right:-8px;
		cursor: pointer;
	}
	.mobileMenuHeader {
		padding: 16px;
		text-decoration: none;
		display: block;
		color: #fff;
		background: #4378a3;
	}
	.mobileMenu ul{
		margin: 0;
		list-style-type: none;
	}
	.mobileMenu ul.menu{
		margin: 0;
	}
	.mobileMenu ul.sub-menu {
	}
	.mobileMenu ul.menu > li{
		border-bottom: 1px solid #D7E0E7;
	}
	.mobileMenu ul.sub-menu > li{
		border-top: 1px solid #D7E0E7;
		background: #F2F5F8;
	}
	.mobileMenu a {
		padding: 16px;
		text-decoration: none;
		display: block;
		color: #4378a3;
	}
	.mobileMenu li.pcTab a {
		color: #f09720;
	}
	.mobileMenu li.vidTab a {
		color: #3a852b;
	}
	.mobileMenu .sub-menu a {
		margin-left: 12px;
	}
	.mobileMenu ul.menu > li.pcTab {
		border-bottom: 1px solid #FFE2BB;
		background: #FFF9F4;
	}
	.mobileMenu ul.menu > li.vidTab {
		border-bottom: 1px solid #C8E0C3;
		background: #F5FAF4;
	}
			
		/* ====== END TOP NAVIGATION DROPDOWNS ======= */	
	
	/* ====== END TOP NAVIGATION ======= */

/* ============================== END NAVIGATION ============================== */

/* ============================== BEGIN FOOTER ============================== */

#footerTw span {
	color: #56C8F4;
}
#footerRSS span {
	color: #F3A668;
}
#footerFb span {
	color: #7AA5FC;
}
#footerLi span {
	color: #3E8DB5;
}

#footerWrapper {
	position: relative;
	float: left;
	padding: 0;
	width: 100%;
	background: #414141;
	overflow: visible;
	font-size: 13px;
}
#footer {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
}
.footerStyle {
	position: relative;
	height: auto;
	padding: 10px;
	text-align: center;
	color: #FFFFFF;
	font-size: 90%;
	margin: 0 20px;
}

#footerSocial {
	float: left;
/* 	width: 315px; */
	width: 31.5%;
	font-size: 14px;
}
#footerSocial a {
	float: left;
	width: 111px;
	height: 55px;
	padding: 15px 0 0 45px;
	background-position: left bottom;
	background-repeat: no-repeat;
	text-align: left;
	position: relative;
	color: #FFF;
	text-decoration: none;
}
#footerSocial a:hover {
	text-decoration: none;
	color: #DADADA;
}
#footerTw {
	background-image: url('../images/footer-twitter.png');
}
#footerTw:hover {
	background: url('../images/footer-twitter.png') left top no-repeat;
}
#footerRSS {
	background-image: url('../images/footer-rss.png');
}
#footerRSS:hover {
	background: url('../images/footer-rss.png') left top no-repeat;
}
#footerFb {
	background-image: url('../images/footer-facebook.png');
}
#footerFb:hover {
	background: url('../images/footer-facebook.png') left top no-repeat;
}
#footerLi {
	background-image: url('../images/footer-linked-in.png');
}
#footerLi:hover {
	background: url('../images/footer-linked-in.png') left top no-repeat;
}

#siteLinks {
	float: left;
/*
	margin: 6px 20px 9px;
	padding: 6px 20px;
*/
	margin: 6px 2% 9px;
	padding: 6px 2%;
/* 	width: 275px; */
	width: 27.5%;
	text-align: left;
	border-left: 1px solid #555;
	border-right: 1px solid #555;
}
#siteLinks .menu li {
	float: left;
	width: 170px;
	list-style: disc inside;
	color: #FFF;
}
#siteLinks .menu li.firstRow {
	width: 100px;
}
#siteLinks a {
	color: #FFF;
	line-height: 22px;
}

#footerRight {
	float: left;
	margin: 12px 0 15px;
/* width: 325px; */
	width: 32.5%;
	padding-top: 5px;
}
#authorityIcons {
	display: block;
	margin-bottom: 15px;
	text-align: center;
}
#authorityIcons img {
	display: inline-block;
	margin-right: 6px;
}

/* ============================== END FOOTER ============================== */

/* ============================== BEGIN HEADER ============================== */

#headerWrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 116px;
	width: 100%;
	z-index: 1;
	background: #fff;
}	
	#header {
		width: 100%;
		max-width: 1100px;
		margin: 0 auto;
		position: relative;
		display: block;
	}
	.logoBox{
		width: 47.1428571429%;
		max-width: 216px;
		float: left;
		margin: 11px 1.42857142857%;
	}
	#companyLogo {
		display: block;
		text-align: left;
		position:relative;
		width: 100%;
	}
	#companyLogo img{
		width: 100%;
	}
	#tagline {
		display: block;
		position: relative;
		top: -58px;
		left: 16px;
		font-size: 15px;
		z-index: 1;
		margin: 0;
		padding: 0;
		line-height: 1.5em;
		text-align: left;
		color: #6b6b6b;
	}
	#header #phone {
		display: block;
		float:right;
		color: #6b6b6b;
		text-align: right;
		position:relative;
		right: auto;
		top: 55px;
		left: auto;
/* 		width: 47.1428571429%; */
		font-size: 26px;
		z-index: 1;
		margin: 0;
		padding: 0 1.42857142857%;
	}
	#header #phone > div {
		display: inline-block;
	}
	#header #phone span{
		font-weight: bold;
		padding-left: .3em;
	}
	#headerPhone {
		position: absolute;
		top: 40px;
		right: 50px;
		left: auto;
		width: auto;
		margin: 0;
		padding: 0;
	}
	#headerPhone h2 {
		font-size: 350%;
		color: #003162;
	}
	a#headerButton {
		position: absolute;
		top: 85px;
		right: 165px;
		left: auto;
	}
	a#headerButton:active {
		top: 86px;
	}
#facebookLike {
	width: 85px;
	height: 20px;
	position: absolute;
	top: 85px;
	right: 260px;
}
#plusOne {
	width: 85px;
	height: 20px;
	position: absolute;
	top: 111px;
	right: 243px;
}

/* ============================== END HEADER ============================== */

/* ============================== BEGIN BUTTONS ============================== */

.blueBG .button, .blueBG input.submit {
	background: #393939;
}
.greenBG .button, .greenBG input.submit {
	background: #4378a3; /* blue */ /* #295890 */
}
.section .button.large {
	margin: 18px auto;
}
.darkGrayBG .button, .darkGrayBG input.submit {
	background: #393939;
}
.darkBG .button {
	color: #fff;
}
.button{
	color: #fff;
	border-radius: 4px;
	background: #4378a3; /* #295890 */
	text-decoration: none;
	text-align: center;
	padding: 14px;
	font-size: 1em;
	font-weight: 100;
	cursor: pointer;
}
.button.large {
	padding: 18px;
	font-size: 1.4em;
	display: block;
	border: 0;
}

.dmcta .button.large{
	margin-right: 18px;
	float: left;
}



/* ============================== END BUTTONS ============================== */

/*============================== BEGIN FORMS ============================== */


.reserve-show{
	display: none;
	background: #F7F7F7;
}

/*
.subHome .reserve-show{
	padding-bottom:42px;
}

.contactWidget {
float: right;
width: 257px;
margin-right: 20px;
-moz-border-radius: 5px 5px 0 0;
-webkit-border-radius: 5px 5px 0 0;
border-radius: 5px 5px 0 0;
-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
position: relative;
}

.contactWidget h2, .sidebarStyle .contactWidget h2 {
	color: #FFFFFF;
	margin-bottom: 0;
	padding: 12px 4px;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0 0;
	text-shadow: 0px 1px 1px rgba(0,0,0,.35);
	text-align: center;
}
.contactWidget label {
	font-weight: bold;
}
.contactWidget p {
	margin-bottom: 5px;
	text-align: left;
	color:#000;
}
.contactWidget .formBody {
	padding: 5px 15px 14px;
	position: relative;
	text-align: center;
}

.contactWidget input.submit.disabled {
	background-color: #b6b6b6;
}
.contactWidget input.submit {
	border: 0;
	padding: 12px 20px;
	font-size: 18px;
	font-weight: 300;
}
.contactWidget input.submit:active {
	top: 1px;
}
.contactWidget.fixed {
	position: fixed;
}

.contactWidget select {
	padding: 3px;
	font-size: 12px;
	border: 1px solid #CECECE;
	width: 150px;
	outline: none;
}
.contactWidget input, .contactWidget textarea{
	padding: 3px;
	font-size: 12px;
	width: 260px;
	border: 1px solid #CECECE;
	width: 217px;
}
.contactWidget textarea{
	height: 70px;
}
.contactWidget .firstName {
	width: 98px;
	margin-right: 5px;
}
.contactWidget .lastName {
	width: 102px;
}
.contactWidget .phone {
	margin-left: 0;
	margin-right: 0;
}
.contactWidget .phoneArea,
.contactWidget .phonePrefix,
.contactWidget .phoneExchange,
.landingPageForm .phoneArea,
.landingPageForm .phonePrefix,
.landingPageForm .phoneExchange {
	margin: 0;
	width: 24px;
}
.contactWidget .phoneExchange,
.landingPageForm .phoneExchange {
	width: 32px;
}
.contactWidget .validate input {
	width: 25px;
	margin-right: 5px;
	padding: 6px 8px 6px 8px;
	display: inline-block;
}
.contactWidget .check-status {
	padding: 3px 7px;
	width: 135px;
	display: inline-block;
}
.contactWidget .check-status-error {
	border: 2px solid red;
	background: #FFCFCF 4px center url('../images/form-validation-error-small.png') no-repeat;
	padding-left: 30px;
}
.contactWidget .check-status-success {
	border: 2px solid green;
	background: #b3f6b3 4px center url('../images/form-validation-good-small.png') no-repeat;
	padding-left: 30px;
}
.contactWidget .reserve input {
	width: auto;
	display: inline;
}
.contactWidget .city {
	margin-bottom: 8px;
}
.contactWidget .statesDropdown {
	width: 60px;
}
.contactWidget .zip {
	width: 80px;
}
.contactWidget .reserve-show,
#roiContact .reserve-show,
.landingPageForm .reserve-show {
	display: none;
}
img.ajax-loader {
	border: none;
	vertical-align: middle;
	max-width: 100px;
}

/* Form Response Output *
.submitWrapper {
	position:absolute;
	bottom: 0;
	width: 100%;
}
.sideContact .submitWrapper {
	position:relative;
}
#funnelSendResults .response-output{
	position: absolute;
	top: -4px;
	bottom: auto;
	left: -26px;
	width: 240px;
	padding: 10px;
	padding-left: 44px;
	min-height: 33px;
}
#subHomeSendResults .response-output{
	position: absolute;
	top: 6px;
	bottom: auto;
	left: -8px;
	width: 240px;
	padding: 10px;
	padding-left: 44px;
	min-height:33px;
}
#sideSendResults .response-output {
	position: absolute;
	top: 50px;
	bottom: auto;
	left: -15px;
	width: 200px;
	padding: 10px;
	padding-left: 44px;
	min-height: 33px;
}
#traySendResults.response-output{
	padding: 10px;
	padding-left: 44px;
	margin-bottom: 10px;
}
#refSendResults.response-output {
	margin-bottom: 25px;
	margin-left: 145px;
}
#landingSendResults.response-output {
	margin: 20px auto 0;
	z-index: 50;
}
#oneColumnSendResults.response-output {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 330px;
}

.response-output {
	z-index: 1000;
	border: 2px solid #f7e700;
	color: #222222;
	display: none;
	text-align: left;
	background: #FFFBBF 4px 10px url('../images/form-validation-warning.png') no-repeat;
}
.response-output.error {
	color: red;
	border: 2px solid red;
	font-weight: bold;
	background: #FFCFCF 4px 10px url('../images/form-validation-error.png') no-repeat;
}
.response-output.success {
	color: green;
	border: 2px solid green;
	font-weight: bold;
	background: #b3f6b3 4px 10px url('../images/form-validation-good.png') no-repeat;
	min-height:33px;
}
.response-output.loading {
	border-color: #CECECE;
	background: #FCFCFC url('../images/form-validation-loading.gif') 4px center no-repeat;
	min-height:33px;
}
*/

/* ============================== END FORMS ============================== */

/* ============================== BEGIN BLOG ============================== */

.blog.post {
	margin-bottom: 20px;
}

h2#blog-title {
	padding: 20px 0 5px;
	font-size: 32px;
}
h3#blog-subtitle {
	padding: 20px 10px 5px;
	font-size: 28px;
}
p.blog-intro {
	margin-left: 30px;
}
.post-title h2 a:hover {
	text-decoration: none;
}
.post.blog {
	position: relative;
}
.post-date { 
	height: 44px; 
	position: absolute; 
	right: 10px; 
	top: 25px; 
	text-align: center; 
	width: 112px; 
}
.post-date .post-day {
	font-size: 36px;
	font-weight: bold;
	line-height: 45px;
	display: block;
	width: 55px;
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
	border-right: 1px solid #222222;
}
.post-date .post-month {
	display: block;
	font-size: 18px;
	left: 60px;
	line-height: 1em;
	position: absolute;
	text-transform: uppercase;
	top: 6px;
	width: 50px;
}
.post-date .post-year {
	display: block;
	font-size: 14px;
	font-weight: bold;
	left: 60px;
	letter-spacing: 2px;
	line-height: 1em;
	position: absolute;
	top: 25px;
	width: 53px;
}
.post h2 {
	font-size: 28px;
	width: 490px;
	margin-bottom: 10px;
	padding: 20px 0 10px;
}
.post-info {
	border: 1px solid #DADADA;
	border-left: none;
	border-right: none;
	font-size: 11px;
	line-height: 22px;
	padding: 3px 1px;
	position: relative;
	margin-bottom: 17px;
}
.post-info .post-categories {
	float: left;
	max-width: 400px;
}
.post-info .post-commentcount {
	float: right;
}
.post .tags {
	margin-bottom: 10px;
}
h3#comments {
	border: 1px solid #DADADA;
	border-left: none;
	border-right: none;
}
ol.commentlist{
	list-style: none;
}
ol.commentlist li {
	border-bottom: 1px solid #DADADA;
	background-color: #EFEFEF;
	padding: 10px;
	margin-top: 0;
	margin-bottom: 0;
}
ol.commentlist li.alt {
	background-color: #FFFFFF;
}
ol.commentlist li img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
ol.commentlist li p {
}
form#commentform {
}
h3#respond {
}

h2#category {
}
h2.browse {
	border: 1px solid #DADADA;
	border-left: none;
	border-right: none;
	font-size: 32px;
	padding: 6px 0;
	margin-right: 25px;
}
ul.post-archives {
	margin-left: 40px;
}

.blogSidebar{
	padding: 0 16px 18px 30px;
}
.blogSidebar h2{
	color: #000;
}
.blogSidebar li{
	line-height: 100%;
	margin-left: 6px;
	padding-bottom: 10px;
}

.readMore {
	float: right;
}

.post .wp-post-image{
	max-width: 660px;
	height: auto;
}

.blogExcerpt img.wp-post-image {
	float:left;
	padding: 6px 6px 0;
}

/* ============================== END BLOG ============================== */

/* ============================== BEGIN CUSTOM ============================== */

/* All homepages */

#specialPromotionHero {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 11;
	background: url('../images/video-promotion-banner.jpg') top center no-repeat;
	overflow: hidden;
	display: none;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .85);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .85);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .85);
}
.theme-videos #specialPromotionHero, .theme-postcards #specialPromotionHero{
	top: 1px;
}
img.alignnone, img.aligncenter {
	max-width: 668px;
	height: auto;
}

/* Sub Homepage */
/*
.subSlider {
	z-index: 12;
	position: relative;
}
#subHomeBlocks {
	padding: 20px 0;
	background: #fff;
	width: 1000px;
	margin: 0 auto;
}
.subHomeBlock {
	float: left;
	margin-left: 26px;
	width: 283px;
	min-height: 394px;
	font-weight: normal;
	padding: 10px 24px 10px 0;
	text-align: center;
	position: relative;
}
.subHomeBlock.last {
	border: none;
}
.subHomeBlock p, .subHomeBlock h2, .subHomeBlock h3, .subHomeBlock h4, .subHomeBlock img {
	margin-bottom: 14px;
}
.subHomeBlock .g-button {
	width: 240px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.subHomeBlock .g-button:active {
	bottom: -1px;
	top: auto;
}
#homeTestimonial {
	color: #222;
}
.subHomeBlock h2 {
	color: #222;
}
.subHomeBlock h3 {
	color: #222;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	font-style: italic;
	margin-bottom: 0;
}
.subHomeBlock p {
	text-align: left;
	
}
.homeLinkImg {
	display: block;
	width: 282px;
	height: 159px;
	margin-bottom: 15px;
}
.homeLinkImg img {
	width: 100%;
	overflow: hidden;
}
.subHomeBlock.formBlock p {
	margin: 0 0 6px;
}
.subHomeBlock input {
	padding: 6px;
	width: 93%;
	border:1px ridge #a5a5a5;
}
.subHomeBlock input[type=checkbox] {
	width: auto;
}
.subHomeBlock input.zip {
	width: 72%;
}
.subHomeBlock input[type=submit] {
	width: 280px;
	border:0;
}
.subHomeBlock textarea {
	padding: 2px;
	width: 97%;
	height: 70px;
}
.themePostcards .subHomeBlock textarea {
	height: 60px;
}
.subHomeBlock .phone input {
	width: 22%;
}
.subHomeBlock .phone input.phoneExchange {
	width: 35%;
}
.subHomeBlock .name input.firstName {
	width: 30%;
	float:left;
}
.subHomeBlock .name input.lastName {
	width: 55%;
	margin:0 0 0 6px;
}
*/

/* ROI Calculator */
#submitLoading, #submitLoading2 {
	margin-left: 25px;
	display: none;
}
#roiStep1 {
	padding-bottom: 25px;
	border-bottom: 1px solid #DADADA;
	margin-bottom: 25px;
}
.step1 {
	padding-left: 100px;
	padding-top: 8px;
	margin-bottom: 15px;
}
.step1 h2, .step3 h2 {
	font-size: 28px;
}
#roiStep2 {
	padding-bottom: 25px;
	border-bottom: 1px solid #DADADA;
	margin-bottom: 25px;
}
.step2 {
	padding-left: 100px;
	padding-top: 0;
	margin-bottom: 15px;
}
.step2 button {
	margin-bottom: 8px;
}
#roiStep3 {
	padding-bottom: 25px;
	margin-bottom: 25px;
}
.step3 {
	padding-left: 100px;
	padding-top: 8px;
	margin-bottom: 15px;
}
#roiStep3 button {
	margin-left: 100px;
}
#roiContact {
	position: relative;
}
#formCover {
	height: 375px;
	background: url('../images/white-transparency-85.png');
	position: absolute;
	z-index: 50;
	display: none;
}
#formCover img {
	position: absolute;
	left: 330px;
	top: 110px;
}
#roiResults {
	padding-top: 25px;
	display: none;
}
.formLabels {
	float: left;
	width: 200px;
	margin-left: 100px;
	line-height: 35px;
}
.formFields {
	float: left;
	width: 300px;
	line-height: 35px;
}
.formLabels div.label {
	padding: 0 5px 5px 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #DADADA;
}
.validate2 {
	display: none;
}
.roiForm {
	margin-left: 25px;
}
.roiForm tr {
	border-bottom: 1px solid #DADADA;
}
.roiForm td {
	vertical-align: middle;
}
.roiForm td.label {
	padding: 12px;
}
.roiForm select {
	padding: 4px;
	font-size: 14px;
	border: 1px solid #CECECE;
	width: 150px;
	outline: none;
}
.roiForm input, .roiForm textarea, .roiForm select{
	padding: 8px;
	margin: 8px;
	font-size: 14px;
	width: 260px;
	border: 1px solid #DADADA;
}
.roiForm textarea {
	height: 120px;
}
.roiForm .phoneArea,
.roiForm .phonePrefix,
.roiForm .phoneExchange {
	margin: 0 5px;
	width: 30px;
}
.roiForm .phoneExchange {
	width: 40px;
}
.roiForm .validate input {
	width: 25px;
	margin-right: 5px;
}
.roiForm .sticky {
	display: none;
}
.check-status {
	padding: 6px 5px 5px;
}
.check-status-error {
	border: 2px solid red;
	background: #FFCFCF 4px center url('../images/form-validation-error-small.png') no-repeat;
	padding: 6px 5px 5px 30px;
}
.check-status-success {
	border: 2px solid green;
	background: #b3f6b3 4px center url('../images/form-validation-good-small.png') no-repeat;
	padding: 6px 5px 5px 30px;
}
.formFields textarea {
	width: 260px;
}
#forecasted {
	width: 305px;
	float: left;
	border-right: 1px solid #DADADA;
	padding-right: 8px;
}
#guaranteed {
	padding-left: 13px;
	float: left;
	width: 305px;
}
.labels {
	float: left;
	width: 206px;
	font-size: 16px;
	line-height: 38px;	
	margin-left: 10px;
}
.labels div {
	padding-left: 38px;
}
.values {
	float: left;
	width: 85px;
	text-align: center;
	font-size: 16px;
	line-height: 38px;	
}
#forecasted h3 {
	background: url('../images/roi-icon.jpg') no-repeat left center;
	font-size: 28px;
	line-height: 46px;
	padding-left: 46px;
}
#guaranteed h3 {
	background: url('../images/roi-guarantee.jpg') no-repeat left center;
	font-size: 28px;
	line-height: 46px;
	padding-left: 46px;
}
.wijradialgauge {
	display: block;
	height: 155px;
	width: 305px;
	position: relative;
}
.roi {
	font-size: 24px;
	padding-left: 46px;
	line-height: 46px;
	float: left;
	width: 170px;
	border-bottom: 1px solid #DADADA;
}
.roiVal {
	border-bottom: 1px solid #DADADA;
}
.roiVal {
	font-size: 24px;
	line-height: 46px;
	float: left;
	width: 85px;
	text-align: center;
}
input.error, input.check-error {
	border-color: red !important;
}
input.check-success {
	border-color: green;
}
#roiSendResults {
	border: 2px solid #f7e700;
	color: #222222;
	background-color: #FFFBBF;
	position: relative;
	padding: 10px;
	margin-left: 75px;
	margin-right: 75px;
	margin-top: 15px;
	display: none;
	padding-left: 44px;
	background: 4px center url('../images/form-validation-warning.png') no-repeat;
}
#roiSendResults.error {
	color: red;
	border: 2px solid red;
	font-weight: bold;
	background: #FFCFCF 4px center url('../images/form-validation-error.png') no-repeat;
}
#roiSendResults.success {
	color: green;
	border: 2px solid green;
	font-weight: bold;
	background: #b3f6b3 4px center url('../images/form-validation-good.png') no-repeat;
}
#roiSendResults.loading {
	border-color: #CECECE;
	background: #FCFCFC url('../images/form-validation-loading.gif') 4px center no-repeat;
}
/* PR archive page */
.post-type-archive h1 {
	border-bottom: 1px solid #DADADA;
	padding-bottom: 25px;
	margin-bottom: 25px;
}
.archivePr {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #DADADA;
}
.archivePr.last {
	border-bottom: none;
}
h3.prMeta {
	color: #222;
	font-weight: normal;
	font-size: 14px;
	font-style: italic;
	text-shadow: 0px 0px 0px #000;
}
.headline {
	font-weight: bold;
}

/* Post Attachments - for use with plugin Attachments Pro */
.download.list {
	padding-left: 22px;
	background: url('../images/pdf-icon-small.png') left center no-repeat;
	line-height: 16px;
	margin-bottom: 10px;
	display: block;
}
ul.downloads {
	margin-bottom: 15px; 
	margin-left: 0;
	list-style: none;
}
ul.downloads li {
	list-style: none;
}
ul.downloads li a {
	padding-left: 38px;
	line-height: 32px;
	margin-bottom: 6px;
	display: block;
}
ul.downloads li a.pdf {
	background: url('../images/pdf-icon-large.png') left center no-repeat;
}
ul.downloads li a.doc {
	background: url('../images/doc-icon-large.png') left center no-repeat;
}
ul.downloads li a.img {
	background: url('../images/img-icon-large.png') left center no-repeat;
}

/* Testimonial List */
.archiveTestimonial {
	float: left;
	padding: 14px 1.3%;
}
.archiveTestimonial .csLinkWrapper {
	display: block;
	text-align: center;
	position: absolute;
	bottom: 30px;
	width: 100%;
}
.archiveTestimonial .csLinkSpacer {
	height: 60px;
}
.archiveTestimonial a.csLink{
	color: #fff;
	text-decoration: none;
	background: #f09720;
	padding: 8px 12px;
	text-align: center;
}
.sub .archiveTestimonial {
	min-height: 600px;
	position: relative;
	box-sizing: border-box;
	width: 25%;
	border: 6px solid #fff;
}
.sub .testimonialInfo h3 {
	font-size: 1.3em;
	text-align: center;
}
.caseStudy h3.testimonialMeta {
	text-align: right;
	padding-right: 3.5em;
}
.testimonialHeader h1 {
	margin-bottom: 0;
}
.testimonialHeader h3 {
	color: #fff;
	padding-top: 0;
}
.practiceDescription {
	margin-bottom: 40px;
}
.testimonialFull {
	padding: 3%;
	margin: 3% 0;
	font-weight: 100;
	border: 1px solid #f09720;
	border: 1px solid #d8d8d8;
}
.testimonialSingle .postcardThumb{
	float: left;
	width: 48%;
	padding: 1%;
}
.testimonialSingle .postcardThumb img{
	width: 100%;
}
.testimonialSingle .postcardThumb div{
	text-align: center;
}
.testimonialText div{
	display: table-cell;
}
	.testimonialFull .quotes {
		font-size: 3em;
		color: #f09720;
	}
	.testimonialFull .betweenQuotes {
		vertical-align: top;
	}
	.icon-openq {
		padding-right: 1.85873605948%;
	}
	.icon-closeq {
		padding-left: 1.85873605948%;
		padding-bottom: 20px;
		vertical-align: bottom;
	}
.testimonialInfo .testimonialMeta {
	font-size: 1em;
	font-style: italic;
	font-weight: 100;
	padding-top: 14px;
}
.testimonialInfo p {
	padding-bottom: 4px;
}
.archiveTestimonial .testimonialImg {
	width: 100%;
	height: 140px;
	overflow: hidden;
	display: block;
	font-size: 0;
	text-align: center;
}
.archiveTestimonial .testimonialImg img {
	max-height: 140px;
	width: auto;
	max-width: 100%;
	margin: 0 auto;
	display: inline-block;
  vertical-align: middle;
}
.helper {
	display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* Testimonial Single */
.testimonial .testimonialImg {
	float: right;
	margin: 0 0 15px 15px;
}
.testimonial .testimonialStars {
	margin-bottom: 8px;
}


/* Employee List */
.archiveEmployee {
	margin-bottom: 8px;
	float: left;
	width:229px;
}
.archiveEmployee.last{
	width:210px;
}
.archiveEmployee .employeeImage {
	width:100%;
	height: 100%;
	overflow:hidden;
}
.archiveEmployee .employeeImage img {
	max-width: 210px;
	height:auto;
}
.archiveEmployee .employeeInfo{
	padding-top:4px;
	width:200px;
}
.archiveEmployee h2{
	font-size:130%;
	margin:4px 0 2px;
}
.archiveEmployee h3{
	font-size:100%;
	margin:1px 0 8px;
	line-height: 14px;
	float:left;
}
.archiveEmployee .linkedIn img{
	width:16px;
	padding: 0 0 0 5px;
}
.archiveEmployees .hr{
	display:block;
	float:left;
	width:100%;
	height:1px;
	margin: 0 0 18px 0;
}
.companyPicture{
	border-bottom: 1px solid #DADADA;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.companyPicture img{
	width:100%;
	height:auto;
}
.archiveEmployees h1 {
	border:0;
	padding-bottom: 18px;
	margin:0;
}

/*.singleEmployee .employeeImage {
	float: left;
	margin-right: 30px;
	margin-bottom: 12px;
}*/
.singleEmployee .employeeImage {
	float: left;
	margin-right: 15px;
	margin-bottom: 12px;
}
.singleEmployee .employeeImage img {
	max-width: 270px;
	height:auto;
}
.singleEmployee .employeeInfo {
	float: left;
	width: 380px;
}

.singleEmployee .employeeInfo h3{
	float:left;
}
.singleEmployee .employeeInfo .linkedIn img{
	max-height:24px;
	padding: 0 0 0 8px;
}
.singleEmployee .caption sub{
	font-size:200%;
	vertical-align: top;
	position:relative;
	top:-3px;
	padding: 0 2px
}
.singleEmployee .employeeInfo p{
	margin-bottom:6px;
}
.singleEmployee .otherInfo{
	padding-bottom:6px;
}
.singleEmployee .employeeBio p{
	margin-bottom:14px;
}


/* Job List */

.jobsImg {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}
.jobInfo {
	float: right;
	width: 500px;
	padding-top: 15px;
}
.archiveJob {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #DADADA;
	position: relative;
}
.archivejob.last {
	border-bottom: none;
}
.jobDetails{
	margin-bottom: 10px;
}
.dateMeta{
	position: absolute;
	bottom: 20px;
	right: 10px;
}
.jobsTable {
	clear: both;
}
.jobsTable td {
	margin: 0;
}
.jobsTable thead td {
	font-size: 15px;
	font-weight: bold;
}
.jobsTable tbody td {
	width: 175px;
}
.jobsTable .firstCol {
	width: 200px;
	padding: 8px;
}
.jobsTable .lastCol {
	padding: 8px;
	width: 200px;
}
.jobsTable .firstRow td {
}
.jobsTable .lastRow td {
	border-bottom: none;
}
.jobsTable .odd td {
}

/* Job Single */

.job .jobsImg {
	float: right;
	margin: 0 0 15px 15px;
}
.dateMetaSingle{
	position: absolute;
	top: 1px;
	right: 10px;
}
.pr{
	position: relative;
}
.titleSingle{
	border-bottom: 1px solid #DADADA;
}
.jobsTableSingle {
	clear: both;
	margin: 0 0 15px;
	padding-top: 15px;
}
.jobsTableSingle td {
	margin: 0;
}
.jobsTableSingle thead td {
	font-size: 15px;
	font-weight: bold;
}
.jobsTableSingle tbody td {
	min-width: 120px;
}
.jobsTableSingle .firstCol {
	width: 121px;
	padding: 8px;
}
.jobsTableSingle .lastCol {
	padding: 8px;
	width: 105px;
}
.jobsTableSingle .firstRow td {
}
.jobsTableSingle .lastRow td {
	border-bottom: none;
}
.jobsTableSingle .odd td {
}
/* Free Design Critique */
.theirs {
	width: 290px;
	float: right;
}
.ours {
	float: left;
	width: 340px;
}
.critiqueGraph {
	text-align: center;
	border-bottom: 1px solid #BFBFBF;
	border-top: 1px dotted #BFBFBF;
	margin-bottom: 25px;
	padding-bottom: 10px;
	margin-top: 20px;
	padding-top: 20 px;
}
.compHeader {
	margin-bottom:10px;
}
.compH2 {
	margin-bottom: 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid #BFBFBF;
}
.rollover {
	margin-bottom: 20px;
}
/* WP Pagenavi */
.wp-pagenavi {
	clear: both;
}

.wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	border: 1px solid #BFBFBF;
	padding: 3px 5px;
	margin: 2px;
}

.wp-pagenavi span.current {
	font-weight: bold;
}

/* Referrals Page */

.referralBox {
	float: left;
	width: 257px;
	height: 275px;
	padding: 15px 25px;
	margin-right: 10px;
	margin-bottom: 25px;
	background-color: #ebebeb;
	border-radius: 10px;
	text-align: center;
}
.referralBox.last {
	margin-right: 0;
}
#referralSend h2 {
	text-align: center;
	margin-bottom: 10px;
}
#referralSend .formFields, #referralSend table {
	margin-bottom: 20px;
}
#referralSend .formLabels {
	margin-left: 72px;
}
#referralSend table {
	clear: both;
}
#referralSend td {
	margin: 0;
}
#referralSend thead td {
	font-size: 15px;
	font-weight: bold;
}
#referralSend table input {
	padding: 3px;
	font-size: 12px;
	display: inline-block;
	border: 1px solid #DADADA;
}
#referralSend .col1, #referralSend .col2 {
	width: 180px;
}
#referralSend .col1 input, #referralSend .col2 input {
	width: 100px;
}
#referralSend table .col3 {
	width: 250px;
	padding: 8px;
	text-align: center;
}
#referralSend .col3 input {
	width: 24px;
}
#referralSend .col3 input.refPhoneExchange {
	width: 32px;
}
#referralSend table .lastCol {
	padding: 8px;
	text-align: center;
	width: 250px;
}
#referralSend .lastCol input {
	width: 175px;
}
#referralSend table .firstRow td {
}
#referralSend table .lastRow td {
}
#referralSend table .odd td {
}
#referralSend .formLabels.refValidate {
	width: 280px;
	margin-left: 50px;
}
#referralSend .formFields.refValidate {
	width: 270px;
}
#referralSend .formLabels .validate {
	text-align: right;
}

.giftcard {
	margin-top: 36px;
}
.or {
	margin-right: 10px;
	float: left;
	margin-top: 140px;
}


/* Colorbox Lightbox */
/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(../images/overlay.png) repeat 0 0;}
#colorbox{ font-size: 70%; }
    #cboxTopLeft{width:21px; height:21px; background:url(../images/controls.png) no-repeat -101px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(../images/controls.png) no-repeat -130px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(../images/controls.png) no-repeat -101px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(../images/controls.png) no-repeat -130px -29px;}
    #cboxMiddleLeft{width:21px; background:url(../images/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(../images/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(../images/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(../images/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-top:28px;padding: 0;}
        #cboxTitle{position:absolute; top:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; top:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; top:0; left:0; background:url(../images/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; top:0; left:27px; background:url(../images/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(../images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(../images/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; top:0; right:0; background:url(../images/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

.ngg-galleryoverview {
	margin: 25px 0 0;
}
.center.sub.pcGallery {
	max-width: 1820px;
	padding: 0 0.678349349915206%;
}
.center.sub.pcGallery h2 {
	color: #fff;
	background: #4378a3;
	padding: 18px;
	margin: 18px 0;
}
.galleryLink{
	float: left;
/*
	margin: 0 0.678349349915206% 1.356698699830410%;
	width: 11.14330130016960%;
*/
	width: 14.85773506689280%; /* 6 columns */
	margin: 0 0.904465799886942% 1.808931599773880%;
	overflow: hidden;
	border: 1px solid #CECECE;
	font-size: 0;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
}
.galleryLink > img{
	width: 100%;
	height: auto;
}
.galleryLink.last {
/* 	margin-right: 0; */
}

.viewerWrap {
	display: block;
	text-align: center;
	height: auto;
	width:800px;
	margin: 0 auto;
	-moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
}
.cardflip {
	position: relative;
	margin: 10px auto -5px;
	max-height:455px;
}
.cardflip img {
	cursor: pointer;
	max-width:800px;
	max-height:450px;
}
.card{
	margin:0 !important;
	max-height:450px;
}
.cards{
	max-height:450px;
}
.infoNote {
	color: #222;
	background: #fdd7ad url('../images/gallery-info.png') 4px 4px no-repeat;
	padding: 10px 10px 10px 36px;
	width: 242px;	text-align: left;
	margin: -6px auto 0;
	-moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
	position: absolute;
	z-index: 1000;
}
.infoNote label input{
	margin: 0;
}
#flipNote {
	top: 0;
	left: -7px;
}
#favNote {
	top: 1px;
	right: -7px;
	border: 1px solid #FFF;
	background: #fff;
	width: 114px;
	padding-right: 20px;
	padding-left: 20px;
}
.lightboxTray {
	padding: 0;
}
.trayTop {
	z-index:1;
}
.trayTop h2{
	padding: 8px 10px;
	margin: 0;
}
.trayHeadline {
	float: left;
	color: #FFF;
	margin: 0;
	text-shadow: 0px 0px 0px #000;
	font-weight: normal;
	padding: 10px 50px;
}
.trayCTA {
	float: left;
	text-shadow: 0px 0px 0px #000;
	margin: 0;
	font-weight: normal;
	padding: 12px 10px;
}
.trayArrow{
	background: url('../images/arrow-01.png') 0 10px no-repeat;
	background-size: 142px 90px;
	z-index:1;
	position:absolute;
	top:-35px;
	right: 14px;
	width: 142px;
	height: 105px;
}
.trayForm {
	clear: both;
	text-align: left;
	background: #eaeaea;
	padding:10px 10px 4px;
	z-index:2;
	position:relative;
}
.trayFormInput {
	float: left;
	margin-right: 6px;
	margin-bottom: 10px;
}
	.trayFormInput input {
		margin-right: 6px;
		position:relative;
		z-index:2;
	}
	.trayFormInput input.zip {
		width: 80px;
	}
	.trayFormInput input.suite{
		width: 120px;
	}
	.trayFormInput input.checkbox{
		width:auto;
	}
.trayFormInput.traySubmit{
	float:left;
}
.trayFormInput input.submit{
	width:auto;
	padding: 6px 20px;
	
	text-shadow: 0px 1px 1px rgba(0, 0, 0, .35);
-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
font-weight: 300;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
text-decoration: none;
color: #FFFFFF;
cursor: pointer;
display: inline-block;
text-align: center;
line-height: 1;
position: relative;
border: none;
}
.trayFormInput input.submit.disabled {
	background-color: #b6b6b6;
}
.trayFormInput input.submit:active{
	top: 1px;
}
.trayForm select {
	padding: 3px;
	font-size: 12px;
	border: 1px solid #CECECE;
	width: 150px;
	outline: none;
}
.trayForm input, .trayForm textarea{
	padding: 3px;
	font-size: 12px;
	border: 1px solid #CECECE;
	width: 160px;
	z-index:10;
}
.trayForm .practiceName {
	width: 200px;
}
.trayForm .firstName {
	width: 120;
	margin-right: 5px;
}
.trayForm .lastName {
	width: 120px;
}
.trayForm .phone {
	margin-left: 0;
	margin-right: 0;
}
.trayForm .phoneArea,
.trayForm .phonePrefix,
.trayForm .phoneExchange {
	margin: 0;
	width: 24px;
}
.trayForm .phoneExchange,
.landingPageForm .phoneExchange {
	width: 32px;
}
.trayForm .validate input {
	width: 25px;
	margin-right: 5px;
	padding: 6px 8px 6px 8px;
	display: inline-block;
}
.trayForm .check-status {
	padding: 3px 7px;
	width: 135px;
	display: inline-block;
}
.trayForm .check-status-error {
	border: 2px solid red;
	background: #FFCFCF 4px center url('../images/form-validation-error-small.png') no-repeat;
	padding-left: 30px;
}
.trayForm .check-status-success {
	border: 2px solid green;
	background: #b3f6b3 4px center url('../images/form-validation-good-small.png') no-repeat;
	padding-left: 30px;
}
.trayForm .reserve input {
	width: auto;
	display: inline;
}
.trayForm .reserve-show {
	clear: both;
}
.trayForm .city {
	margin-bottom: 8px;
}
.trayForm .statesDropdown {
	width: 60px;
}
.trayForm .zip {
	width: 80px;
}


/* Contact Page */

.contactSection{
	
}
#contactInfo {
	padding-bottom: 22px;
}
#contactInfo table{
	float: left;
	width: 100%;
}
.contactTop{
	/* float: left; */
	/* margin-bottom: 40px; */
	width: 100%;
	max-width: 825px;
	margin: 0 auto 0;
	display: block;
}
.contactTop div{
	margin: 0 2.5%;
	float: left;
}
.contactTop h2{
	padding-top: 5px;
}
/*
.contactBottom #mapFrame{
	width: 100%;
}
.contactBottom #mapFrame iframe{
	width: 100%;
}
*/
h3.contact-head {
	margin-bottom: 5px;
}
#mapFrame {
	float: right;
	padding-left: 14px;
}
p.finePrint {
	font-size: 11px;
}
#landingPageForm {
	position: relative;
}
.landingPageForm {
	margin: 0 auto 15px auto;
	text-align: left;
}
.landingPageForm td {
	padding: 6px;
}
.landingPageForm input[type="checkbox"] {
	width: auto;
	padding-right:15px;
}
.three-column .col1 {
	text-align: right;
	width: 70px;
}
.three-column .col2 {
	text-align: left;
	width: 160px;
}
.three-column .ajax-loader {
	display: block;
	margin: 10px auto 0 auto;
}
.landingPageForm input {
	width: 150px;
	padding: 4px;
	border: 1px solid #DADADA;
}
.three-column {
	width: 323px;
	margin: 15px 0 15px 5px;
	padding-right: 5px;
	float: left;
}
.two-column {
	width:470px;
	float:left;
	text-align:left;
	padding: 0 15px 15px 15px;
}

#ppc_conversion {
	display: none;
	visibility: hidden;
}

.orange-accent {
	-webkit-box-shadow: 0 0px 7px 2px rgba(0, 0, 0, .65);
	-moz-box-shadow: 0 0px 7px 2px rgba(0, 0, 0, .65);
	box-shadow: 0 0px 7px 2px rgba(0, 0, 0, .65);
	color: #fff;
	padding: 15px 0 0 0;
	
}
/* ============================== END CUSTOM ============================== */

/* ============================== BEGIN HOMEPAGE BANNER =================== */
#content-newBanner{
	display:block;
	width:100%;
	padding: 31px 0;
	border-top: 1px solid #fff;
	overflow: hidden;
	box-shadow: 0 0px 4px rgba(0, 0, 0, .85);
	-webkit-box-shadow: inset 0 0px 4px rgba(0, 0, 0, .85);
	-moz-box-shadow: 0 0px 4px rgba(0, 0, 0, .85);
}
.main-quote{
	display:block;
	width: 100%;
	position: relative;
	z-index: 4;
}
.main-quote img{
	max-width: 1000px;
	margin: 0 auto;
	display: block;
	padding-bottom: 28px;
}

.bannerBoxWrapper{
	height:197px;
	display:block;
	width:780px;
	margin: 0 auto;
	position: relative;
	z-index: 5;
}
.bannerBox{
	box-shadow:0 1px 1px rgba(0, 0, 0, .65);
   -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, .65);
   -moz-box-shadow:0 1px 1px rgba(0, 0, 0, .65);
	display:block;
	width:228px;
	height:194px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin: 0 16px;
	float:left;
}
.bannerBox a {
	float:left;
}
.bannerBox a:hover {
	text-decoration: none;
}

.bBoxImg{
	display:block;
	width:200px;
	height:106px;
	overflow: hidden;
	margin: 14px 14px 8px;
}
.bBoxImg img{
	width:200px;
}
.bBoxHeading{
	display:block;
	width:auto;
	height:auto;
	text-align:center;
	font-size:20px;
	text-transform:uppercase;
	color:#fff;
	margin-bottom: 2px;
}
.bBoxSub{
	display:block;
	color: #fff;
	width:auto;
	height:auto;
	text-align:center;
	font-size:9px;
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
	margin-top:2px;
	padding: 0 14px 14px;
}
/* ============================== END HOMEPAGE BANNER ======================*/

/*sidebar Nav*/
/*
.menu-sidebar-nav-container{
	display:block;
	margin-top:10px;
	
}
.menu-sidebar-nav-container ul {
    margin-right: 25px;
    margin-left: 10px;
	margin-bottom:10px;
}
.menu-sidebar-nav-container > ul > li > a {
  font-size: 16px;
  display:block	;
  background-repeat: no-repeat;
  background: url('http://stage.dentalmarketing.net/wp-content/themes/invisible-hand/images/arrow.png') no-repeat;
  background-position: right center;
	margin-bottom:10px;
	}
.menu-sidebar-nav-container > ul > li .sub-menu { display:none }
.sub-menu > li{
	padding-top:2px;	
	padding-bottom:5px;
}
*/


.staff-caoching-nav{
	display:block;
	margin-top:10px;	
}
.staff-caoching-nav > ul > li > a {
  background-repeat: no-repeat;
  background: url('http://stage.dentalmarketing.net/wp-content/themes/invisible-hand/images/arrow.png') no-repeat;
  background-position: right center;
	margin-bottom:10px;
}
.staff-caoching-nav ul {
	margin: 0 25px 10px 10px;
}
.staff-caoching-nav ul.sideBoxes{
	display: inline-block;
	margin: 10px 20px;
}
.sideBoxes .bannerBox{
	margin: 10px 15px;
}
.staff-caoching-nav > ul > li > a {
    font-size: 16px;
    display:block	
	}
.staff-caoching-nav > ul > li .sub-menu-coahing{ display:none }
.sub-menu-coahing > li{
	padding-top:2px;	
	padding-bottom:5px;
}

/*side bar nav ends*/
.notification-design-gallery {
	width: 620px;
	margin-bottom: 20px;
	font-weight: bold;
	font-style: italic;
	padding: 10px;
	color: #FFF;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

/*=============== VIDEO GALLERY ===============*/
.videoCategory{
	padding: 20px 0;
	display: inline-block;
}
.categoryTitle {
	display:block;
	float:left;
	width: 100%;
	font-size: 260%;
	font-weight:300;
}
.videoCategory{
	float:left;
	width: 100%;
}
.archiveVideosWrapper{
	width: 47%;
	float: left;
	background: transparent;
	padding: 8px;
	margin: 2px;
	position: relative;
	overflow:hidden;
}
.archiveVideosWrapper:hover{
	background: #c4c4c4;
}
.archiveVideosWrapper h3{
	color: #fff;
	background: #393939;
	padding: 4px 10px;
	margin: 0;
	z-index: 1;
	position: relative;
}
.archiveVideosWrapper h3 span{
	font-size: 70%;
	padding: 4px 8px;
}
.archiveVideosWrapper a.videoImg{
	float:left;
	width: 100%;
	height: 212px;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .65);
}
.archiveVideosWrapper a.videoImg:hover{
	text-decoration:none;
}
.archiveVideosWrapper a.videoImg img{
	width: 100%;
	height: auto;
	margin-top: -28px;
	z-index: 0;
}


/******** RESPONSIVE ********/
/* 1700px */
@media screen and (max-width: 1700px) {
/*
	.galleryLink {
		width: 12.70289913591210%; /* 7 columns *
		margin: 0 0.791407574901074% 1.582815149802150%;
	}
}
*/

/* 1500px */
@media screen and (max-width: 1500px) {
	.galleryLink {
		width: 14.85773506689280%; /* 6 columns */
		margin: 0 0.904465799886942% 1.808931599773880%;
	}
	.sub .archiveTestimonial {
		min-height: 625px;
	}
}

/* 1420px */
@media screen and (max-width: 1420px) {
	.sub .archiveTestimonial {
		min-height: 650px;
	}
}

/* 1300px */
@media screen and (max-width: 1300px) {
	.galleryLink {
		width: 17.96495195025440%; /* 5 columns */
		margin: 0 1.017524024872810% 2.035048049745620%;
	}
}

/* 1200px */
@media screen and (max-width: 1200px) {
	.introVideoButtons a.button.large{
		font-size: 1.6em;
	}
	.archiveTestimonial, .sub .archiveTestimonial {
		width: 33%;
	}
}

/* 1100px */
@media screen and (max-width: 1100px) {
	.featuredContent {
		font-size: 80%;
	}
	.introVideoButtons a.button.large{
		font-size: 1.45em;
	}
	.galleryLink {
		width: 22.73883550028260%; /* 4 columns */
		margin: 0 1.130582249858680% 2.261164499717350%;
	}
}

/* 1050px */
@media screen and (max-width: 1050px) {
	.introVideoButtons a.button.large{
		font-size: 1.5em;
	}
}

/* 1000px */
@media screen and (max-width: 1000px) {
	.introVideoButtons a.button.large{
		font-size: 1.37em;
	}
}

/* 950px */
@media screen and (max-width: 950px) {
	.introVideoButtons a.button.large{
		font-size: 1.3em;
	}
	.sub .archiveTestimonial {
		min-height: 620px;
	}
}

/* 900px */
@media screen and (max-width: 900px) {
	.introVideoSection .introVideoLeft {
		width: 100%;
		padding: 0 0 6%;
		margin: 0 auto;
		float: none;
	}
	.introVideoButtons a.button.large {
		font-size: 1.8em;
	}
	.contactForm.homeForm {
		width: 98%;
		padding: 0 1% 4%;
		margin: 0 auto;
		clear: both;
		float: none;
	}
	.featuredContent {
		font-size: 70%;
	}
	.homeProcess, .homeTestimonials {
		width: 100%;
		padding: 20px;
	}
	.logo {
		margin: 0 auto;
		float: none;
	}
	.logo a img{
		padding-top: 18px;
	}
	.archiveTestimonial, .sub .archiveTestimonial {
		width: 50%;
	}
	.archive_4 {
		display: block;
	}
	.sub .archiveTestimonial {
		min-height: 535px;
	}
	.logoBox {
		padding-top: 33px;
	}
	#headerWrapper {
		height: 143px;
	}
	.home #container {
		padding-top: 154px;
	}
	.container {
		padding-top: 229px;
	}
	#navigationWrapper {
		top: 143px;
	}
	#breadcrumbsWrapper {
		top: 199px;
	}
	.testimonialSingle .postcardThumb {
		width: 100%;
		padding: 20px 0;
	}
}

/* 800px */
@media screen and (max-width: 800px) {
	.contactForm input {
		padding: 3%;
	}
	.sectionWrapper {
		padding: 4% 10px;
	}
	.featuredContent {
		font-size: 62%;
	}
	.introVideoButtons a.button.large {
		font-size: 1.6em;
	}
	.galleryLink {
		width: 30.84605238364420%; /* 3 columns */
		margin: 0 1.243640474844540% 2.487280949689090%;
	}
	.testimonialFull .quotes {
		font-size: 2em;
	}
}

/* 700px */
@media screen and (max-width: 700px) {
	.introVideoButtons a.button.large {
		font-size: 1.45em;
	}
	.nivo-caption-wrapper {
		position: inherit;
		background: #333 url('../images/backgrounds/patterns/classy_fabric.png');
	}
	.featuredContent {
		position: relative;
		text-align: left;
		padding: 0 2% 20px;
		width: 96%;
		max-width: none;
		font-size: 90%;
	}
	.section .featuredContent .button.large {
		float: left;
		margin-right: 12px;
	}
	.featuredContent .featuredLogo img {
		max-width: 26%;
	}
	.nivo-controlNav-wrapper .nivo-controlNav {
		padding: 8px 0;
	}
	.featuredContent .featuredTestimonial {
		width: 100% !important;
	}
	/* FOSSUM */
		.featuredContent.fossum .featuredTestInfo {
			font-size: 3.1em;
		}
	/* RIVERROCK */
		.featuredContent.riverrock .featuredTestInfo {
			font-size: 2.1em;
		}
	/* SEDALI */
		.featuredContent.sedalia .featuredTestInfo {
			font-size: 2.7em;
		}
	.logoBox {
		width: 59.1428571429%;
	}
	#headerWrapper {
		z-index: 120;
	}
	.archiveTestimonial, .sub .archiveTestimonial {
		width: 100%;
		min-height: 0;
		padding-bottom: 30px;
	}
	
/* 640px */
@media screen and (max-width: 640px) {
	body {
		font-size: 16px;
	}
	h1{
		font-size: 3em;
	}
	h2{
		font-size: 2.2em;
	}
	h3{
		font-size: 1.9em;
	}
	.introVideoButtons a.button {
		width: 100%;
	}
	.introVideoButtons a.button.large{
		font-size: 1.8em;
		float: none;
	}
	#topNav, #navigationWrapper {
		display: none;
	}
	#breadcrumbsWrapper {
		top: 126px;
	}
	#headerWrapper {
		height: 126px;
	}
	.container {
		padding-top: 167px;
	}
	#breadcrumbs {
		font-size: 15px;
		margin: 12px auto;
	}
	#breadcrumbs a {
		padding: 10px;
	}
	.logoBox {
		padding-top: 0;
		margin-bottom: 0;
	}
	#header #phone {
		top: 0;
		line-height: 1.2em;
		top: 7px;
	}
	.mobileMenuBtn {
		display: block;
		width:172px;
		text-align: right;
	}
}

/* 580px */
@media screen and (max-width: 580px) {
	.galleryLink {
		width: 47.28660260033920%; /* 2 columns */
		margin: 0 1.356698699830410% 2.713397399660830%;
	}
	#header #phone {
		width: 174px;
		top: -6px;
	}
	.testimonialFull .quotes {
		font-size: 1.4em;
	}
}

/* 520px */
@media screen and (max-width: 520px) {
	.featuredContent {
		font-size: 80%;
	}
}

/* 480px */
@media screen and (max-width: 480px) {
	h1{
		font-size: 2.3em;
	}
	h2{
		font-size: 1.9em;
	}
	h3{
		font-size: 1.6em;
	}
	.menuButton{
		display: block;
	}
	.featuredContent {
		font-size: 65%;
	}
	#footerSocial, #siteLinks, #footerRight{
		width: 90%;
		padding: 5% 10px;
		margin: 0;
		border: 0;
	}
	#siteLinks ol, #siteLinks ul {
	  -webkit-column-count: 2; /* Chrome, Safari, Opera */
	  -moz-column-count: 2; /* Firefox */
	  column-count: 2;
	}
	.mobileMenuBtn {
		width:auto;
	}
}

/* 420px */
@media screen and (max-width: 420px) {
	.mobileMenuBtn {
		width:auto;
	}
	#header #phone {
		top: 0;
		width: 100%;
	}
	.logoBox {
		max-width: 150px;
	}
}