/* ============================== BEGIN STYLES ============================== */

/* ORANGE */

/* colors:
primary: #f09720
primary dark: #cc7d27
primary light: #ffab50

secondary: #4e3216
secondary dark: #35200d

images:
body: bg image: chords-brown.jpg
banner: postcards_banner_bg.jpg
*/

a {
	color: #f09720;
}
h1 {
	color: #4e3216;
}
h2 {
	color: #f09720;
}
h3 {
	color: #f09720;
}

	/* ====== BEGIN MAIN COLUMN ===== */
	.mainColumnStyle ul li {
		list-style-image:url('../images/check-orange.png');
	}
	/* ====== END MAIN COLUMN ===== */
	
	/* ====== BEGIN SIDEBAR ======= */
	/* ====== END SIDEBAR ======= */

/* ============================== ENDSTYLES ============================== */

/* ====== BEGIN GENERAL LAYOUT ======= */
	body {
	}
/* ====== END GENERAL LAYOUT ======= */

/* ============================== BEGIN NAVIGATION ============================== */

	/* ====== BEGIN MAIN NAVIGATION ======= */
	#navigationWrapper {
		background-color: #f09720;
		border-top: 1px solid #ffab50;
		border-bottom: 1px solid #cc7d27;
	}
	#navWrap {
		border-left: 1px solid #cc7d27;
	}
	.navigationStyle .menu>li {
		border-right: 1px solid #cc7d27;
		border-left: 1px solid #ffab50;
	}
	.navigationStyle .menu>li.current-menu-item, .navigationStyle .menu>li.current-menu-parent {
		border-left: 1px solid #9C662A;
		background: #cc7d27;
	}
		
		/* ====== MAIN NAVIGATION DROPDOWN MENUS ======= */
		.navigationStyle .sub-menu {
			background: #35200d;
		}
		.navigationStyle .sub-menu li:hover {
			background: #4e3216;
		}
						
		/* ====== END MAIN NAVIGATION DROPDOWNS ======= */
		
		
	#breadcrumbsWrapper {
		background: #35200d;
	}
			
		/* ====== END MAIN NAVIGATION THIRD LEVEL ======= */
	
	/* ====== END MAIN NAVIGATION ======= */
	
	/* ====== BEGIN TOP NAVIGATION ======= */
	
				
		/* ====== TOP NAVIGATION DROPDOWN MENUS ======= */
			
		/* ====== END TOP NAVIGATION DROPDOWNS ======= */	
		
		.mobileMenuMain .mobileMenuHeader {
			background: #f09720;
		}
		.mobileMenu .mobileMenuMain a {
			color: #f09720;
		}
		.mobileMenu .mobileMenuMain ul.menu > li {
			border-bottom: 1px solid #FFE2BB;
		}
		.mobileMenu .mobileMenuMain ul.sub-menu > li {
			border-top: 1px solid #FFE2BB;
			background: #FFF9F4;
		}
	
	/* ====== END TOP NAVIGATION ======= */

/* ============================== END NAVIGATION ============================== */

/* ============================== BEGIN BLOCKS ============================== */

/* ============================== END BLOCKS ============================== */

/* ============================== BEGIN FOOTER ============================== */

#siteLinks a:hover {
	color: #f09720;
}
/* ============================== END FOOTER ============================== */

/* ============================== BEGIN HEADER ============================== */
#header #phone span{
	color: #f09720;
}
/* ============================== END HEADER ============================== */

/* ============================== BEGIN BUTTONS ============================== */

/* CTA Button */
.button {
	background-color: #f09720;
}
.button:hover {
	background-color: #cc7d27;
}

/* Secondary */
.button.secondary {
	background-color: #4e3216;
}
.button.secondary:hover {
	background-color: #63462d;
}

/* ============================== END BUTTONS ============================== */

/* ============================== BEGIN FORMS ============================== */


.contactWidget h2{
	background-color: #f09720;
}
.contactWidget input.submit {
	background-color: #4e3216;
}
.contactWidget input.submit:hover {
	background-color: #35200d;
}
input.focused, textarea.focused {
	border-color: #f09720;
}
.contactForm input.submit {
	background: #35200d;
}

/* Tray Form */
.trayHeadline {
	background: #f09720;
}
.trayCTA {
	color: #f09720;
}
.trayFormInput input.submit{
	background-color: #4e3216;
}
.trayFormInput input.submit:hover{
	background-color: #35200d;
}
.infoNote {
	border: 1px solid #f09720;
}
/* ============================== END FORMS ============================== */

/* ============================== BEGIN BLOG ============================== */

/* ============================== END BLOG ============================== */

/* ============================== BEGIN CUSTOM ============================== */

/*--- HOME TESTIMONIALS BAND ---*/

.homeTestimonial a.testLink{
	color: #4e3216;
}

/* ROI Calculator */.step1 {
	background: url('../images/123_one.jpg') left center no-repeat;
}
.step2 {
	background: url('../images/123_two.jpg') left center no-repeat;
}
.step3 {
	background: url('../images/123_three.jpg') left center no-repeat;
}
.roiPhone {
	background: url('../images/roi-calls.jpg') no-repeat left center;
}
.roiPatients {
	background: url('../images/roi-patients.jpg') no-repeat left center;
}
.roiProduction {
	background: url('../images/roi-production.jpg') no-repeat left center;
}
.roiCost {
	background: url('../images/roi-calc.jpg') no-repeat left center;
}
.roi {
	background: url('../images/roi-final.jpg') no-repeat left center;
}

/* Job List */

.jobsTable thead td {
	border-bottom: 2px solid #f09720;
}
.jobsTable tbody td {
	border-bottom: 1px solid #ffab50;
}
.taxonomyEmph {
	color: #f09720;
}
.brownLink a {
	color: #4e3216
}


/* Job Single */

.jobsTableSingle thead td {
	border-bottom: 1px solid #f09720;
}
.jobsTableSingle tbody td {
	border-bottom: 1px solid #ffab50;
}
.wp-pagenavi a:hover, .wp-pagenavi span.current {
	border-color: #f09720;
	color: #f09720;
}

/* Referrals Page */
#referralSend thead td {
	border-bottom: 2px solid #f09720;
}
#referralSend tbody td {
	border-bottom: 1px solid #ffab50;
}


/* ============================== END CUSTOM ============================== */

/* ============================== BEGIN BLOG ============================== */

.post-title h2 a:hover {
	color: #ffab50;
}

/* ============================== END BLOG ============================== */

/* ============================== BEGIN HOMEPAGE BANNER =================== */

#content-newBanner{
	background: url('../images/postcards_banner_bg.jpg') center top no-repeat;
}
.bannerBox{
	background-color:#35200d;
}
.bannerBox:hover{
	background-color:#4e3216;
}

/* ============================== END HOMEPAGE BANNER ======================*/
.menu-sidebar-nav-container > ul > li > a {
  color: #4e3216;
	border-bottom:1px solid #35200d;
}
/*side bar nav ends*/
.notification-design-gallery {
	background-color:#f09720;
}

/* ============================== SUB PAGE ======================*/
.subHeader h1{
	color: #f09720;
}
.subHeader h2{
	color: #4e3216;
}