/* UNIQUE TO HOME PAGE FUNNEL */
body {
	}

#container {
	padding-top: 151px;
	background: #20649a url('../images/backgrounds/mountains.jpg') center 150px no-repeat;
}

#tagline img {
	margin:20px -43px -46px -33px;
}

/*--- SLIDER ---*/
.homeSliderWrapper {
	height:375px;
}
.homeSlider {
	color: #fff;
	width: 1020px;
	margin:0 auto;
	padding: 16px;
}
.homeSlider h2 {
	color: #fff;
	font-weight: normal;
	font-size:140%;
	padding: 16px 0;
	text-transform:none;
	text-align: center;
}
.homeSlider .sliderLeft{
	width:440px;
	float:left;
	text-align: center;
	padding: 22px 0;
	position: relative;
	z-index:10;
}
.homeSlider .sliderLeft img.guarantee{
	text-align:center;
	padding-top:6px;
}

.homeSlider .sliderRight{
	float:right;
	text-align: center;
	padding: 22px 0;
	width: 560px;
}
.homeSlider .sliderRight iframe{
	width: 533px;
	height: 300px;
}

.sliderTagline {
	text-align: center;
	font-size:1.5em;
}


/*--- HOMEBLOCKS ---*/
.homeBlocksWrapper {
	width:100%;
}
#homeBlocks {
	width:1020px;
	margin: 0 auto;
	padding: 38px 0;
	background: transparent;
}
.homeBlocksBanner{
}
.homeBlocksBanner img{
	width: 94%;
	padding: 22px 0;
}
.videosBlock .homeBlocksBanner img {
	padding-bottom: 13px;
}
.homeBlock {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 50px rgba(0, 0, 0, .6);
	-webkit-box-shadow: 0 1px 50px rgba(0, 0, 0, .6);
	box-shadow: 0 1px 50px rgba(0, 0, 0, .6);
	float: left;
	width: 470px;
	height: 628px;
	margin: 0 20px;
	position: relative;
	/*background: #F0F0F0;*/
	background: #fff;
	text-align: center;
}
.homeBlock a.homeBlockImg {
	float: left;
	width: 100%;
	padding: 20px 0 7px;
}
.homeBlock a.homeBlockImg img{
	height: 110px;
	display: block;
	margin: 0 auto;
}

.homeBlockButtons{
	width: 100%;
	position: absolute;
	top: auto;
	bottom:20px;
	left: 0;
}

.homeBlock a.homeBlockButton {
	width: 34%;
	float: left;
	margin-left: 16px;
}
.homeBlock a.homeBlockButton:active {
	position: relative;
	top: auto;
	bottom: -1px;
}

.homeBlock p.small {
	font-size:96%;
	width: 76%;
	margin: 0 auto;
	padding: 16px 12px;
}
.homeBlock p.small a {
	text-decoration: underline;
	color: #5ab3ff;
	font-weight:normal;
}

.homeBlock.videosBlock .galleryThumbs{
}

.homeBlock .galleryThumbs{
}

.howItWorks {
	position: relative;
	background: #e9e9e9;
	padding-bottom: 20px;
}
.howItWorks h3 {
	font-family: 'Architects Daughter', 'Open Sans', arial;
	text-transform:uppercase;
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	margin:4px 0;
	color: #ef371d;
	transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	-webkit-backface-visibility: hidden;
	position: relative;
	left: -17px;
}
.howItWorks img.vidImg{
	margin:0 auto;
	display:block;
	width: 366px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .85);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .85);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .85);
}
.howItWorks img.redArrow{
	position: absolute;
	top: 10px;
	right: 20px;
	width: 50px;
}
.videosBlock .galleryThumbs img{
	width: 110%;
	margin-left: -12px;
}

.homeBlock.formBlock {
	margin: 0 12px 0;
	padding: 16px 18px 0;
	width: 246px;
	height: 414px;
	text-align: left;
}
.homeBlock.formBlock p {
	margin: 0 0 10px;
}
.homeBlock.formBlock a.homeBlockImg {
	margin-top: 0;
}
.homeBlock input {
	padding: 6px;
	width: 93%;
	border:1px ridge #cfcfcf;
}
.homeBlock textarea {
	padding: 2px;
	width: 97%;
	height: 70px;
}
.homeBlock .phone input {
	width: 22%;
}
.homeBlock .phone input.phoneExchange {
	width: 35%;
}
.homeBlock .name input.firstName {
	width: 30%;
	float:left;
}
.homeBlock .name input.lastName {
	width: 55%;
	margin:0 0 0 6px;
}
.homeBlock .formTitle {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding-bottom:12px;
}

/* Orange Button */
.g-button.medium {
	padding: 14px 26px;
	font-size: 22px;
}
		
		.homeBlock a.orange {
			background: #f79326;
		}
		.homeBlock a.orange:hover {
			background: #cc7d27;
		}

/* Green Button */
		.homeBlock a.green {
			background: #49972b;
		}
		.homeBlock a.green:hover {
			background: #3a852b;
		}





