/* UNIQUE TO HOME PAGE FUNNEL */
body {
	}

#container {
	padding-top: 151px;
}

#tagline img {
	margin:20px -43px -46px -33px;
}

/*--- SLIDER ---*/
.homeSliderWrapper {
	background: #20649a url('../images/homepage-banner-gradient.png') repeat-x;
	height:375px;
	position: relative;
}
#videoPromotionBanner {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	background: url('../images/video-promotion-banner.jpg') top center no-repeat;
	overflow: hidden;
	display: none;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .85);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .85);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .85);
}
#specialPromotionBanner{
	display:none;
	background: url('../images/wood-bg.jpg') top center repeat-x;
	width: 100%;
	position: relative;
	z-index: 10;
}
#skiBanner{
	width: 1000px;
	margin:0 auto;
	position:relative;
}
#skiBanner .paintArrow{
	position:absolute;
	bottom: -128px;
	right: -53px;
	width: 140px;
	display: none;
}
#skiBanner .paintArrow img{
	width: 100%;
}
.homeSlider {
	color: #fff;
	width: 1020px;
	margin:0 auto;
	padding: 16px;
	z-index: 12;
	position: relative;
}
.homeSlider h2 {
	color: #fff;
	font-weight: normal;
	font-size:140%;
	padding: 16px 0;
	text-transform:none;
	text-align: center;
}
.homeSlider .sliderLeft{
	width:440px;
	float:left;
	text-align: center;
	padding: 22px 0;
	position: relative;
	z-index:10;
}
.homeSlider .sliderLeft img.guarantee{
	text-align:center;
	padding-top:6px;
}

.homeSlider .howItWorks{
	text-align:center;
	margin:0 auto;
	/* width:80%; non-large logo */
	width:100%;
	/* padding: 36px 20px; for white logo */
	padding: 0;
	/* padding: 0 20px; non-large logo */
}
.homeSlider .howItWorks>a{
}
.homeSlider .howItWorks>a img{
	width: 80%;
	margin: 16px 0 0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .85);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .85);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .85);
	transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	-webkit-backface-visibility: hidden;
}
.homeSlider .seeHow {
	margin: 0 auto;
	width: 140%;
	transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	-webkit-backface-visibility: hidden;
	position:relative;
	top: -12px;
	left: 20px;
}
.homeSlider .howItWorks h3 {
	font-family: 'Architects Daughter', 'Open Sans', arial;
	text-transform:uppercase;
	font-size: 36px;
	font-weight: bold;
	float:left;
	margin:4px 0;
	color: #ef371d;
}
.homeSlider .howItWorks div.small{
	margin: 0 auto;
	padding-top: 6px;
	float:left;
	width:70%;
}
.homeSlider .bannerArrow {
	float:left;
	padding-left:12px;
	width: 84px;
}

.homeSlider .sliderRight{
	float:right;
	text-align: center;
	padding: 22px 0;
	width: 560px;
}
.homeSlider .sliderRight iframe{
	width: 533px;
	height: 300px;
}

.sliderTagline {
	text-align: center;
	font-size:1.5em;
}


/*--- HOMEBLOCKS ---*/
#homeBlocksWrapper {
	width:100%;
}
#homeBlocks {
	width:918px;
	margin:20px auto;
	padding: 0;
	background: transparent;
	position: relative;
}
.homeBlock {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 50px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 1px 50px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 50px rgba(0, 0, 0, .3);
	float: left;
	width: 282px;
	height: 390px;
	margin: 40px 12px 0;
	position: relative;
	background: #F0F0F0;
	text-align: center;
}
.homeBlock a.homeBlockImg {
	margin-top:-40px;
	float:left;
	width:100%;
}
.homeBlock a.homeBlockImg img{
	height: 146px;
	display: block;
	margin: 0 auto;
}

.homeBlock a.homeBlockButton {
	width: 86%;
	position: absolute;
	top: auto;
	bottom:14px;
	left: 7%;
}
.homeBlock input.homeBlockButton {
	width: 86%;
	position: absolute;
	top: auto;
	bottom:14px;
	left: 0;
}
.homeBlock a.homeBlockButton:active, .homeBlock input.homeBlockButton:active {
	top: auto;
	bottom:13px;
}

.homeBlock p.small {
	font-size:85%;
	width: 78%;
	margin: 0 auto;
	padding: 12px;
}
.homeBlock p.small a {
	text-decoration: underline;
	color: #5ab3ff;
	font-weight:normal;
}

.homeBlock .galleryThumbs{
	background: #e2e2e2;
	padding: 12px 0;
}
.homeBlock.videosBlock .galleryThumbs{
	padding: 8px 0;
}
.galleryThumbs img{
	margin:0 auto;
	display:block;
}
.videosBlock .galleryThumbs img{
	width: 110%;
	margin-left: -12px;
}

.homeBlock.formBlock {
	margin: 0 12px 0;
	padding: 16px 18px 0;
	width: 246px;
	height: 414px;
	text-align: left;
}
.homeBlock.formBlock p {
	margin: 0 0 10px;
}
.homeBlock.formBlock a.homeBlockImg {
	margin-top: 0;
}
.homeBlock input {
	padding: 6px;
	width: 93%;
	border:1px ridge #cfcfcf;
}
.homeBlock textarea {
	padding: 2px;
	width: 97%;
	height: 70px;
}
.homeBlock .phone input {
	width: 22%;
}
.homeBlock .phone input.phoneExchange {
	width: 35%;
}
.homeBlock .name input.firstName {
	width: 30%;
	float:left;
}
.homeBlock .name input.lastName {
	width: 55%;
	margin:0 0 0 6px;
}
.homeBlock .formTitle {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding-bottom:12px;
}

/* Orange Button */
		.homeBlock a.orange {
			background-color: #f79326;
			width: 75%;
		}

/* Blue Button */
		.homeBlock input.blue {
			background: #0a5495;
		}

/* Green Button */
		.homeBlock a.green {
			background: #49972b;
			width: 75%;
		}





