/*

-blue-
	blue: #295890
	blue dark: #0a4475
	blue light: #4378a3

-green-
	green: #3a852b
	green dark: #2e6821
	green light: #669958

-orange-
	orange: #f09720
	orange dark: #cc7d27
	orange light: #ffab50

-gray-
	gray: #585858
	gray dark: #393939
	
-brown-
	brown: #4e3216
	brown dark: #35200d

*/ 

#container{
/* 	padding-top: 151px; */
}